In [2]:
import numpy as np

Compute the area of a triangle with base 10 and height 12. Recall that the area of a triangle is half the base times the height.

In [1]:
def t_a(b,h):
    return 0.5*b*h

b=10
h=12
print(' the area of a triangle is :', t_a(b,h))

 the area of a triangle is : 60.0

Compute the surface area and volume of a cylinder with radius 5 and height 3.

In [5]:
def cylinder(r,h):
    sa=2*np.pi*r*(h+r)
    v=np.pi*h*r**2
    print('surface area',sa,'\nand volume',v)
    return ''
r=5
h=3
print(cylinder(r,h))

surface area 251.32741228718345
and volume 235.61944901923448

Compute the slope between the points (3,4) and (5,9). Recall that the slope between points $(x_1,y_1)$ and $(x_2,y_2)$ is $\frac{y_2−y_1}{x_2−x_1}$.

In [6]:
def slope(x1,x2,y1,y2):
    return (y2-y1)/(x2-x1)

x1,y1=3,4
x2,y2=5,9
print('the slope between the points ',slope(x1,x2,y1,y2))

the slope between the points  2.5

Compute the distance between the points (3,4)
 and (5,9)
. Recall that the distance between points in two dimensions is $\sqrt{(x_2−x_1)^2+(y_2−y_1)^2}$.

In [7]:
def distance(x1,x2,y1,y2):
    return ((y2-y1)**2+(x2-x1)**2)**0.5

x1,y1=3,4
x2,y2=5,9
print(' the distance between the points',distance(x1,x2,y1,y2))

 the distance between the points 5.385164807134504

Use Python’s factorial function to compute 6!

In [47]:
def factorial(n):
    return np.prod([i for i in range(1,n+1)])
n=6
print(factorial(n))

720

A year is considered to be 365 days long. However, a more exact figure is 365.24 days. As a consequence, if we held to the standard 365-day year, we would gradually lose that fraction of the day over time, and seasons and other astronomical events would not occur as expected. A leap year is a year that has an extra day, February 29, to keep the timescale on track. Leap years occur on years that are exactly divisible by 4, unless it is exactly divisible by 100, unless it is divisible by 400. For example, the year 2004 is a leap year, the year 1900 is not a leap year, and the year 2000 is a leap year.
Compute the number of leap years between the years 1500 and 2010.

In [43]:
def leap_year(n):
    if ((n%400==0) | (n%100!=0) & (n%4==0)):
        print(n,'is a leap year!')
    #else:
        #print('not a leap year')
    return None

for n in range(1500,2011,1):
    leap_year(n)

1504 is a leap year!
1508 is a leap year!
1512 is a leap year!
1516 is a leap year!
1520 is a leap year!
1524 is a leap year!
1528 is a leap year!
1532 is a leap year!
1536 is a leap year!
1540 is a leap year!
1544 is a leap year!
1548 is a leap year!
1552 is a leap year!
1556 is a leap year!
1560 is a leap year!
1564 is a leap year!
1568 is a leap year!
1572 is a leap year!
1576 is a leap year!
1580 is a leap year!
1584 is a leap year!
1588 is a leap year!
1592 is a leap year!
1596 is a leap year!
1600 is a leap year!
1604 is a leap year!
1608 is a leap year!
1612 is a leap year!
1616 is a leap year!
1620 is a leap year!
1624 is a leap year!
1628 is a leap year!
1632 is a leap year!
1636 is a leap year!
1640 is a leap year!
1644 is a leap year!
1648 is a leap year!
1652 is a leap year!
1656 is a leap year!
1660 is a leap year!
1664 is a leap year!
1668 is a leap year!
1672 is a leap year!
1676 is a leap year!
1680 is a leap year!
1684 is a leap year!
1688 is a leap year!
1692 is a leap year!
1696 is a leap year!
1704 is a leap year!
1708 is a leap year!
1712 is a leap year!
1716 is a leap year!
1720 is a leap year!
1724 is a leap year!
1728 is a leap year!
1732 is a leap year!
1736 is a leap year!
1740 is a leap year!
1744 is a leap year!
1748 is a leap year!
1752 is a leap year!
1756 is a leap year!
1760 is a leap year!
1764 is a leap year!
1768 is a leap year!
1772 is a leap year!
1776 is a leap year!
1780 is a leap year!
1784 is a leap year!
1788 is a leap year!
1792 is a leap year!
1796 is a leap year!
1804 is a leap year!
1808 is a leap year!
1812 is a leap year!
1816 is a leap year!
1820 is a leap year!
1824 is a leap year!
1828 is a leap year!
1832 is a leap year!
1836 is a leap year!
1840 is a leap year!
1844 is a leap year!
1848 is a leap year!
1852 is a leap year!
1856 is a leap year!
1860 is a leap year!
1864 is a leap year!
1868 is a leap year!
1872 is a leap year!
1876 is a leap year!
1880 is a leap year!
1884 is a leap year!
1888 is a leap year!
1892 is a leap year!
1896 is a leap year!
1904 is a leap year!
1908 is a leap year!
1912 is a leap year!
1916 is a leap year!
1920 is a leap year!
1924 is a leap year!
1928 is a leap year!
1932 is a leap year!
1936 is a leap year!
1940 is a leap year!
1944 is a leap year!
1948 is a leap year!
1952 is a leap year!
1956 is a leap year!
1960 is a leap year!
1964 is a leap year!
1968 is a leap year!
1972 is a leap year!
1976 is a leap year!
1980 is a leap year!
1984 is a leap year!
1988 is a leap year!
1992 is a leap year!
1996 is a leap year!
2000 is a leap year!
2004 is a leap year!
2008 is a leap year!

A very powerful approximation for $\pi$
 was developed by a brilliant mathematician named Srinivasa Ramanujan. The approximation is the following:
$\frac{1}{\pi}≈\frac{2\sqrt{2}}{9801}\sum^N_{k=0}\frac{(4k)!(1103+26390k)}{(k!)^4 396^{4k}}$
.
Use Ramanujan’s formula for $N=0$ and $N=1$ to approximate $\pi$. Be sure to use format long. Compare your approximation with Python’s stored value for pi. Hint: $0!=1$ by definition

In [70]:
def sn(N,s=0.):
    for k in range(0,N):
        k=int(k)
        s+=(factorial(4*k)*(1103+26390*k))/(factorial(k)**4 * (396)**(4*k))
    return (2*(2)**0.5/9801)*s

p=sn(1)
print(p,1/p)

0.31830987844047015 3.1415927300133055

The hyperbolic $\sin or \sinh$
 is defined in terms of exponentials as $\sinh(x)=\frac{\exp(x)−\exp(−x)}{2}$
.
Compute $\sinh$
 for $x=2$
 using exponentials. Verify that the result is indeed the hyperbolic $sin$
 using Python’s function sinh in the math module.

In [73]:
def sin_h(x):
    return (np.exp(x)-np.exp(-x))/2

print(sin_h(2))

import math
print(math.sinh(2))

3.626860407847019
3.6268604078470186

Verify that $\sin^2(x)+\cos^2(x)=1$
 for $x=\pi,\frac{\pi}{2},\frac{\pi}{4},\frac{\pi}{6}$

In [74]:
def proof(x):
    return (np.cos(x))**2+(np.sin(x))**2

X=[np.pi,(np.pi/2),(np.pi/4),(np.pi/6)]
for x in X:
    print(proof(x))

1.0
1.0
1.0000000000000002
1.0

Compute the $\sin87°$.

In [75]:
np.sin(87)

-0.8218178366308225

Write a Python statement that generates the following error:     
“AttributeError: module ‘math’ has no attribute ‘sni’”            
Hint: sni is a misspelling of the function sin.

In [76]:
math.sni(1)

AttributeError: module 'math' has no attribute 'sni'

Write a Python statement that generates the following error:      
“TypeError: $\sin()$ takes exactly one argument (0 given)”        
Hint: Input arguments refers to the input of a function (any function); for example, the input in $\sin(\pi/2)$ is $\pi/2$.

In [78]:
math.sin()

TypeError: math.sin() takes exactly one argument (0 given)

If P
 is a logical expression, the law of noncontradiction states that P AND (NOT P)
 is always false. Verify this for P
 true and P
 false.

In [84]:
P=1

P and (not P)

False

Let P and Q be logical expressions. De Morgan’s rule states that NOT (P OR Q) = (NOT P) AND (NOT Q)
 and NOT (P AND Q) = (NOT P) OR (NOT Q)
. Generate the truth tables for each statement to show that De Morgan’s rule is always true.

In [100]:
P=[0,1,0,1]
Q=[0,0,1,1]

def logic(P,Q):
    A1=not (P or Q)
    A2=(not P) and (not Q)
    A3=not (P and Q)
    A4=(not P) or (not Q) 
    return A1,A2,A3,A4

for p,q in zip(P,Q):
    A1,A2,A3,A4=logic(p,q)
    print(p,q,A1,'\t',A2,'\t',A3,'\t',A4)

0 0 True 	 True 	 True 	 True
1 0 False 	 False 	 True 	 True
0 1 False 	 False 	 True 	 True
1 1 False 	 False 	 False 	 False

Under what conditions for P
 and Q
 is (P AND Q) OR (P AND (NOT Q)
) false?

In [112]:
def p1(P,Q):
    return (P and Q) or (P and (not Q))

for p,q in zip(P,Q):
    print(p,q,p1(p,q))

0 0 0
1 0 True
0 1 0
1 1 1

Construct an equivalent logical expression for OR using only AND and NOT.

In [104]:
def OR(P,Q):
    return not((not P) and (not Q))

for p,q in zip(P,Q):
    print(p,q,OR(p,q))

0 0 False
1 0 True
0 1 True
1 1 True

Construct an equivalent logical expression for AND using only OR and NOT.

In [105]:
def AND(P,Q):
    return not((not P) or (not Q))

for p,q in zip(P,Q):
    print(p,q,AND(p,q))

0 0 False
1 0 False
0 1 False
1 1 True

The logical operator XOR has the following truth table:
Construct an equivalent logical expression for XOR using only AND, OR, and NOT that has the same truth table

In [111]:
def XOR(P,Q):
    return OR(AND(Q,(not P)),AND((not Q),P))

for p,q in zip(P,Q):
    print(p,q,XOR(p,q))

0 0 False
1 0 True
0 1 True
1 1 False