What do u mean by binary ??

A: Any 2-bit operation is binary!

What do u mean by 2-bit?
the language that a machine (digital) reads!

In [1]:
import pandas as pd

In [2]:
for i in range(2):
    print(i)

0
1

followings this principals:-

### $\text{Logic NOT}$

In [3]:
def NOT(a):
    if a==1: return 0
    else : return 1

### $\text{Logic AND}$

In [4]:
def AND(a,b):
    if (a==1)&(b==1): return 1
    else : return 0

### $\text{Logic OR}$

In [5]:
def OR(a,b):
    if (a==1)|(b==1): return 1
    else : return 0

### $\text{Logic NAND}$

In [6]:
def NAND(a,b):
    if (a==1)&(b==1): return 0
    else : return 1

### $\text{Logic NOR}$

In [7]:
def NOR(a,b):
    if (a==1)|(b==1): return 0
    else : return 1

### $\text{Logic Exclusive-OR}$

In [8]:
def XOR(a,b):
    if a==b: return 0
    else : return 1

### $\text{Logic Exclusive-NOR}$

In [9]:
def XNOR(a,b):
    if a==b: return 1
    else : return 0

In [10]:
A=[0,0,1,1]
B=[0,1,0,1]

In [11]:
X1=[0,0,0,0,1,1,1,1]
Y1=[0,0,1,1,0,0,1,1]
Z1=[0,1,0,1,0,1,0,1]

In [12]:
P1=[0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1]
Q1=[0,0,0,0,1,1,1,1,0,0,0,0,1,1,1,1]
R1=[0,0,1,1,0,0,1,1,0,0,1,1,0,0,1,1]
S1=[0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1]

#### Checking the analytic function output of Logic

In [13]:
an,bn,A1,O,An,On,X,Xn=[],[],[],[],[],[],[],[]

for a,b in zip(A,B):
    an.append(NOT(a))
    bn.append(NOT(b))
    A1.append(AND(a,b))
    O.append(OR(a,b))
    An.append(NAND(a,b))
    On.append(NOR(a,b))
    X.append(XOR(a,b))
    Xn.append(XNOR(a,b))
    
data={
    'a':A,
    'b':B,
    'ùëéÃÉ':an,
    'ùëèÃÉ':bn,
    'ùëé‚ãÖùëè':A1,
    'ùëé+ùëè':O,
    'ùëé‚Üëùëè':An,
    'ùëé‚Üìùëè':On,
    'ùëé‚äïùëè':X,
    'ùëé‚äôùëè':Xn }
pd.DataFrame(data)

   a  b  ùëéÃÉ  ùëèÃÉ  ùëé‚ãÖùëè  ùëé+ùëè  ùëé‚Üëùëè  ùëé‚Üìùëè  ùëé‚äïùëè  ùëé‚äôùëè
0  0  0   1   1    0    0    1    1    0    1
1  0  1   1   0    0    1    1    0    1    0
2  1  0   0   1    0    1    1    0    1    0
3  1  1   0   0    1    1    0    0    0    1

# **Conversion-  NAND IMPLEMENTATION**

**NOT** 
<img width="100" height="120" align="center" src="https://upload.wikimedia.org/wikipedia/commons/3/3f/NOT_from_NAND.svg">

**AND** 
<img width="200" height="120" align="center" src="https://upload.wikimedia.org/wikipedia/commons/1/16/AND_from_NAND.svg">

**OR** 
<img width="200" height="120" align="center" src="https://upload.wikimedia.org/wikipedia/commons/9/90/OR_from_NAND.svg">

**NOR** 
<img width="250" height="320" align="center" src="https://upload.wikimedia.org/wikipedia/commons/4/4e/NOR_from_NAND.svg">

**XOR** 
<img width="270" height="360" align="center" src="https://upload.wikimedia.org/wikipedia/commons/f/fa/XOR_from_NAND.svg">

**XNOR** 
<img width="370" height="360" align="center" src="https://upload.wikimedia.org/wikipedia/commons/e/e2/XNOR_from_NAND.svg">

In [14]:
def NAND_NOT(a):
    return NAND(a,a)# NAND -> NOT
    
def NAND_AND(a,b):
    return NAND(NAND(a,b),NAND(a,b))# NAND -> AND
    
def NAND_OR(a,b):
    return NAND(NAND(a,a),NAND(b,b))# NAND -> OR

def NAND_NOR(a,b): 
    return NAND(NAND_OR(a,b),NAND_OR(a,b))# NAND -> NOR

def NAND_XOR(a,b):
    return NAND(NAND(a,NAND(a,b)),NAND(b,NAND(a,b)))# NAND -> XOR

def NAND_XNOR(a,b):
    return NAND(NAND_XOR(a,b),NAND_XOR(a,b))# NAND -> XNOR

this is just the checking of digital logics in computer interfaces

In [15]:
print(' NAND LOGIC')
an1,bn1,A11,O1,On1,X1,Xn1=[],[],[],[],[],[],[]
for a,b in zip(A,B):
    an1.append(NAND_NOT(a))
    bn1.append(NAND_NOT(b))
    A11.append(NAND_AND(a,b))
    O1.append(NAND_OR(a,b))
    On1.append(NAND_NOR(a,b))
    X1.append(NAND_XOR(a,b))
    Xn1.append(NAND_XNOR(a,b))
    
pd.DataFrame({
    'a':A,
    'b':B,
    'ùëéÃÉ':an1,
    'ùëèÃÉ':bn1,
    'ùëé‚ãÖùëè':A11,
    'ùëé+ùëè':O1,
    'ùëé‚Üìùëè':On1,
    'ùëé‚äïùëè':X1,
    'ùëé‚äôùëè':Xn1
     })

 NAND LOGIC

   a  b  ùëéÃÉ  ùëèÃÉ  ùëé‚ãÖùëè  ùëé+ùëè  ùëé‚Üìùëè  ùëé‚äïùëè  ùëé‚äôùëè
0  0  0   1   1    0    0    1    0    1
1  0  1   1   0    0    1    0    1    0
2  1  0   0   1    0    1    0    1    0
3  1  1   0   0    1    1    0    0    1

# **Conversion-  NOR IMPLEMENTATION :**

**NOT** 
<img width="100" height="120" align="center" src="https://upload.wikimedia.org/wikipedia/commons/b/ba/NOT_from_NOR.svg">

**OR**
<img width="200" height="120" align="center" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4b/OR_from_NOR.svg/1920px-OR_from_NOR.svg.png">

**AND**
<img width="200" height="120" align="center" src="https://upload.wikimedia.org/wikipedia/commons/f/f4/AND_from_NOR.svg">

**NAND**
<img width="250" height="320" align="center" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/NAND_from_NOR.svg/1920px-NAND_from_NOR.svg.png">

**XNOR**
<img width="270" height="360" align="center" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/XNOR_from_NOR.svg/1920px-XNOR_from_NOR.svg.png">


**XOR**
<img width="360" height="320" align="center" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/XOR_from_NOR_2.svg/1920px-XOR_from_NOR_2.svg.png">

In [16]:
def NOR_NOT(a):
    return NOR(a,a)# NOR -> NOT
    
def NOR_AND(a,b):
    return NOR(NOR(a,a),NOR(b,b))# NOR -> AND
    
def NOR_OR(a,b):
    return NOR(NOR(a,b),NOR(a,b))# NOR -> OR

def NOR_NAND(a,b): 
    return NOR(NOR_AND(a,b),NOR_AND(a,b))# NOR -> NAND

def NOR_XNOR(a,b):
    return NOR(NOR(a,NOR(a,b)),NOR(b,NOR(a,b)))# NOR -> XNOR

def NOR_XOR(a,b):
    return NOR(NOR_XNOR(a,b),NOR_XNOR(a,b))# NOR -> XOR

In [17]:
print(' NOR LOGIC')
an2,bn2,A12,O2,An2,X2,Xn2=[],[],[],[],[],[],[]
for a,b in zip(A,B):
    an2.append(NOR_NOT(a))
    bn2.append(NOR_NOT(b))
    A12.append(NOR_AND(a,b))
    O2.append(NOR_OR(a,b))
    An2.append(NOR_NAND(a,b))
    X2.append(NOR_XOR(a,b))
    Xn2.append(NOR_XNOR(a,b))
    
pd.DataFrame({
    'a':A,
    'b':B,
    'ùëéÃÉ':an2,
    'ùëèÃÉ':bn2,
    'ùëé+ùëè':O2,
    'ùëé‚ãÖùëè':A12,
    'ùëé‚Üëùëè':An2,
    'ùëé‚äïùëè':X2,
    'ùëé‚äôùëè':Xn2
     })

 NOR LOGIC

   a  b  ùëéÃÉ  ùëèÃÉ  ùëé+ùëè  ùëé‚ãÖùëè  ùëé‚Üëùëè  ùëé‚äïùëè  ùëé‚äôùëè
0  0  0   1   1    0    0    1    0    1
1  0  1   1   0    1    0    1    1    0
2  1  0   0   1    1    0    1    1    0
3  1  1   0   0    1    1    0    0    1

# $\text{HALF ADDER}$
<img width="200" height="220" align="center" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Half_Adder.svg/1920px-Half_Adder.svg.png">

In [18]:
def HalfAdder(a,b):
    s=XOR(a,b)
    c=AND(a,b)
    return s,c

# $\text{FULL ADDER}$
<p align="center">
  <img src="img/Full-adder.png" alt="drawing" width="500" align="center"/>
</p>

In [19]:
def FullAdder(x,y,z):
    s1,c1=HalfAdder(x,y)
    s2,c2=HalfAdder(s1,z)
    return s2,OR(c1,c2)

## **NAND logic of a full-adder**
<img width="600" height="320" align="right" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Full_Adder_using_NAND_gates.svg/1920px-Full_Adder_using_NAND_gates.svg.png">

In [20]:
def NAND_FullAdder(x,y,z):
    S=NAND_XOR(NAND_XOR(x,y),z)
    C=NAND(NAND(NAND_XOR(x,y),z),NAND(x,y))
    return S,C

## **NOR logic of a full-adder**
<img width="600" height="320" align="right" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Full_Adder_using_NOR_gates.svg/1920px-Full_Adder_using_NOR_gates.svg.png">

In [21]:
def NOR_FullAdder(x,y,z):
    S=NOR_XNOR(NOR_XNOR(x,y),z)
    C=NOR(NOR(NOR_XNOR(x,y),z),NOR(x,y))
    return S,C

<p align="center">
  <img src="img/Screenshot%20(1).png" alt="drawing" width="500" align="center"/>
</p>

# $$\text{3-to-8-line decoder}$$
<p align="center">
  <img src="img/Screenshot%20(3).png" alt="drawing" width="500" height="400" align="center"/>
</p>

In [22]:
def decoder3_8(x,y,z):
    # NOT
    N1=NOT(x)
    N2=NOT(y)
    N3=NOT(z)
    # AND
    A1=AND(N1,N2)
    A2=AND(A1,N3)  #x'y'z' ->D0
    A3=AND(A1,z)   #x'y'z  ->D1
    A4=AND(N1,y)
    A5=AND(A4,N3)  #x'yz'  ->D2
    A6=AND(A4,z)   #x'yz   ->D3
    A7=AND(x,N2)
    A8=AND(A7,N3)  #xy'z'  ->D4
    A9=AND(A7,z)    #xy'z  ->D5
    A10=AND(x,y)
    A11=AND(A10,N3) #xyz'->D6
    A12=AND(A10,z)  #xyz ->D7
    return A2,A3,A5,A6,A8,A9,A11,A12

In [23]:
print('Input','|\t','Output')
print('x','y','z','|','D0','D1','D2','D3','D4','D5','D6','D7')
for x,y,z in zip(X1,Y1,Z1):
    D0,D1,D2,D3,D4,D5,D6,D7=decoder3_8(x,y,z)
    print(x,y,z,'| ',D0,'',D1,'',D2,'',D3,'',D4,'',D5,'',D6,'',D7)

Input |	 Output
x y z | D0 D1 D2 D3 D4 D5 D6 D7
0 0 0 |  1  0  0  0  0  0  0  0
1 0 1 |  0  0  0  0  0  1  0  0
1 1 0 |  0  0  0  0  0  0  1  0
0 1 1 |  0  0  0  1  0  0  0  0

# $$\text{BCD-to-decimal decoder}$$
<p align="center">
  <img src="img/Screenshot%20(4).png" alt="drawing" width="600" height="600" align="center"/>
</p>

In [24]:
def BCD_Decimal_Decoder(w,x,y,z):    
    # NOT
    N1=NOT(w)
    N2=NOT(x)
    N3=NOT(y)
    N4=NOT(z)
    # AND
    A1=AND(N1,N2) #w'x'
    A2=AND(A1,N3) #w'x'y'
    A3=AND(A2,N4) #w'x'y'z' ->D0
    A4=AND(A2,z)  #w'x'y'z  ->D1
    A5=AND(N2,y)  #x'y
    A6=AND(A5,N4)  #x'yz'  ->D2
    A7=AND(A5,z)   #x'yz   ->D3
    A8=AND(x,N3)   #xy'
    A9=AND(A8,N4)  #xy'z' ->D4
    A10=AND(A8,z)  #xy'z  ->D5
    A11=AND(x,y)    #xy
    A12=AND(A11,N4) #xyz'->D6
    A13=AND(A11,z)  #xyz ->D7
    A14=AND(w,N4)   #wz' ->D8
    A15=AND(w,z)    #wz  ->D9
    return A3,A4,A6,A7,A9,A10,A12,A13,A14,A15

In [25]:
print('Input','\t|\t','Output')
print('w','x','y','z','|','D0','D1','D2','D3','D4','D5','D6','D7','D8','D9')
for w,x,y,z in zip(P1,Q1,R1,S1):
    D0,D1,D2,D3,D4,D5,D6,D7,D8,D9=BCD_Decimal_Decoder(w,x,y,z)
    print(w,x,y,z,'| ',D0,'',D1,'',D2,'',D3,'',D4,'',D5,'',D6,'',D7,'',D8,'',D9)

Input 	|	 Output
w x y z | D0 D1 D2 D3 D4 D5 D6 D7 D8 D9
0 0 0 0 |  1  0  0  0  0  0  0  0  0  0
0 0 0 1 |  0  1  0  0  0  0  0  0  0  0
0 0 1 0 |  0  0  1  0  0  0  0  0  0  0
0 0 1 1 |  0  0  0  1  0  0  0  0  0  0
0 1 0 0 |  0  0  0  0  1  0  0  0  0  0
0 1 0 1 |  0  0  0  0  0  1  0  0  0  0
0 1 1 0 |  0  0  0  0  0  0  1  0  0  0
0 1 1 1 |  0  0  0  0  0  0  0  1  0  0
1 0 0 0 |  0  0  0  0  0  0  0  0  1  0
1 0 0 1 |  0  0  0  0  0  0  0  0  0  1
1 0 1 0 |  0  0  1  0  0  0  0  0  1  0
1 0 1 1 |  0  0  0  1  0  0  0  0  0  1
1 1 0 0 |  0  0  0  0  1  0  0  0  1  0
1 1 0 1 |  0  0  0  0  0  1  0  0  0  1
1 1 1 0 |  0  0  0  0  0  0  1  0  1  0
1 1 1 1 |  0  0  0  0  0  0  0  1  0  1

# $$\text{Binary-Coded-Decimal to 7 Segment LED Display Decoder}$$
<p align="center">
  <img src="img/BCD-to-common-anode-7-segment-truth-table.jpg" alt="drawing" width="400" height="300" align="left"/>
</p>

$a = F1 (A, B, C, D) = ‚àëm (0, 2, 3, 5, 7, 8, 9)$

$b = F2 (A, B, C, D) = ‚àëm (0, 1, 2, 3, 4, 7, 8, 9)$

$c = F3 (A, B, C, D) = ‚àëm (0, 1, 3, 4, 5, 6, 7, 8, 9)$

$d = F4 (A, B, C, D) = ‚àëm (0, 2, 3, 5, 6, 8)$

$e = F5 (A, B, C, D) = ‚àëm (0, 2, 6, 8)$

$f = F6 (A, B, C, D) = ‚àëm (0, 4, 5, 6, 8, 9)$

$g = F7 (A, B, C, D) = ‚àëm (2, 3, 4, 5, 6, 8, 9)$

<p align="center">
  <img src="img/K-map-a.jpg" alt="drawing" width="900" height="300" align="left"/>
</p>

<p align="center">
  <img src="img/K-map-d.jpg" alt="drawing" width="900" height="300" align="left"/>
</p>

<p align="center">
  <img src="img/K-map-g.jpg" alt="drawing" width="300" height="300" align="left"/>
</p>

<p align="center">
  <img src="img/BCD-to-7-segment-Decoder-Design-Using-Basic-Gates.jpg" alt="drawing" width="400" height="300" align="left"/>
</p>

In [26]:
def BCD_7segment9(p,q,r,s):
    a=OR(OR(p,r),OR(AND(q,s),AND(NOT(q),NOT(s))))
    b=OR(OR(NOT(q),AND(r,s)),AND(NOT(r),NOT(s)))
    c=OR(OR(q,NOT(r)),s)
    d=OR(OR(AND(NOT(q),NOT(s)),AND(r,NOT(s))),OR(OR(p,AND(NOT(q),r)),AND(AND(q,NOT(r)),s)))
    e=OR(AND(NOT(q),NOT(s)),AND(r,NOT(s)))
    f=OR(OR(p,AND(NOT(r),NOT(s))),OR(AND(q,NOT(r)),AND(q,NOT(s))))
    g=OR(OR(p,AND(q,NOT(r))),OR(AND(NOT(q),r),AND(r,NOT(s))))
    return a,b,c,d,e,f,g

In [27]:
print('Input','\t|','Output')
print('A','B','C','D','|','a','b','c','d','e','f','g')
for w,x,y,z in zip(P1,Q1,R1,S1):
    a,b,c,d,e,f,g=BCD_7segment9(w,x,y,z)
    print(w,x,y,z,'|',a,b,c,d,e,f,g)

Input 	| Output
A B C D | a b c d e f g
0 0 0 0 | 1 1 1 1 1 1 0
0 0 0 1 | 0 1 1 0 0 0 0
0 0 1 0 | 1 1 0 1 1 0 1
0 0 1 1 | 1 1 1 1 0 0 1
0 1 0 0 | 0 1 1 0 0 1 1
0 1 0 1 | 1 0 1 1 0 1 1
0 1 1 0 | 1 0 1 1 1 1 1
0 1 1 1 | 1 1 1 0 0 0 0
1 0 0 0 | 1 1 1 1 1 1 1
1 0 0 1 | 1 1 1 1 0 1 1
1 0 1 0 | 1 1 0 1 1 1 1
1 0 1 1 | 1 1 1 1 0 1 1
1 1 0 0 | 1 1 1 1 0 1 1
1 1 0 1 | 1 0 1 1 0 1 1
1 1 1 0 | 1 0 1 1 1 1 1
1 1 1 1 | 1 1 1 1 0 1 1

# 7 segment display plot
<p align="center">
  <img src="img/7-segment-numeric-display.png" alt="drawing" width="100" height="300" align="left"/>
</p>

<p align="center">
  <img src="img/Seven-segment-display.png" alt="drawing" width="1000" height="300" align="left"/>
</p>

In [28]:
def display_7_segment(a,b,c,d,e,f,g):
    if a==1:
        a = "1"
        a = a.replace("1", "_" )
    elif a==0:
        a = "0"
        a = a.replace("0", " ")
    if b==1:
        b = "1"
        b = b.replace("1", "|" )
    elif b==0:
        b = "0"
        b = b.replace("0", " ")
    if c==1:
        c = "1"
        c = c.replace("1", "|" )
    elif c==0:
        c = "0"
        c = c.replace("0", " ")
    if d==1:
        d = "1"
        d = d.replace("1", "_" )
    elif d==0:
        d = "0"
        d = d.replace("0", " ")
    if e==1:
        e = "1"
        e = e.replace("1", "|" )
    elif e==0:
        e = "0"
        e = e.replace("0", " ")
    if f==1:
        f = "1"
        f = f.replace("1", "|" )
    elif f==0:
        f = "0"
        f = f.replace("0", " ")
    if g==1:
        g = "1"
        g = g.replace("1", "_" )
    elif g==0:
        g = "0"
        g = g.replace("0", " ")
        
    print('\033[0;31m'+'\t\t\t\t\t  ',a,"\n\t\t\t\t\t",f,g,b,"\n\t\t\t\t\t",e,d,c+'\033[0m')
    return ""

In [29]:
print('Input','\t |\t','Output')
print(' A','B','C','D','|','a','b','c','d','e','f','g','|','Display in 7 segment')
for w,x,y,z in zip(P1,Q1,R1,S1):
    a,b,c,d,e,f,g=BCD_7segment9(w,x,y,z)
    print('_______________________________________________')
    print('',w,x,y,z,'|',a,b,c,d,e,f,g,'|')
    print(display_7_segment(a,b,c,d,e,f,g))
print('_______________________________________________')

Input 	 |	 Output
 A B C D | a b c d e f g | Display in 7 segment
_______________________________________________
 0 0 0 0 | 1 1 1 1 1 1 0 |
					   _
					 |   |
					 | _ |

_______________________________________________
 0 0 0 1 | 0 1 1 0 0 0 0 |

					     |
					     |

_______________________________________________
 0 0 1 0 | 1 1 0 1 1 0 1 |
					   _
					   _ |
					 | _

_______________________________________________
 0 0 1 1 | 1 1 1 1 0 0 1 |
					   _
					   _ |
					   _ |

_______________________________________________
 0 1 0 0 | 0 1 1 0 0 1 1 |

					 | _ |
					     |

_______________________________________________
 0 1 0 1 | 1 0 1 1 0 1 1 |
					   _
					 | _
					   _ |

_______________________________________________
 0 1 1 0 | 1 0 1 1 1 1 1 |
					   _
					 | _
					 | _ |

_______________________________________________
 0 1 1 1 | 1 1 1 0 0 0 0 |
					   _
					     |
					     |

_______________________________________________
 1 0 0 0 | 1 1 1 1 1 1 1 |
					   _
					 | _ |
					 | _ |

_______________________________________________
 1 0 0 1 | 1 1 1 1 0 1 1 |
					   _
					 | _ |
					   _ |

_______________________________________________
 1 0 1 0 | 1 1 0 1 1 1 1 |
					   _
					 | _ |
					 | _

_______________________________________________
 1 0 1 1 | 1 1 1 1 0 1 1 |
					   _
					 | _ |
					   _ |

_______________________________________________
 1 1 0 0 | 1 1 1 1 0 1 1 |
					   _
					 | _ |
					   _ |

_______________________________________________
 1 1 0 1 | 1 0 1 1 0 1 1 |
					   _
					 | _
					   _ |

_______________________________________________
 1 1 1 0 | 1 0 1 1 1 1 1 |
					   _
					 | _
					 | _ |

_______________________________________________
 1 1 1 1 | 1 1 1 1 0 1 1 |
					   _
					 | _ |
					   _ |

_______________________________________________

# $$\text{Binary-Coded-HexaDecimal  to 7 Segment LED Display Decoder}$$

<p align="center">
  <img src="img/7-segment-decoder-truth-table.png" alt="drawing" width="500" height="900" align="left"/>
</p>

**K-map implementation**
<p align="left">
  <img src="img/segment-a-k-map-1.png" alt="drawing" width="250" height="100" align="left"/>
</p>

$a(A,B,C,D)=\sum (0,2,3,5,6,7,8,9,10,12,14,15)$

$a=AB'C'+A'BD+AD'+A'C+BC+B'D'$

<p align="left">
  <img src="img/segment-b-k-map-1-300x295.jpg" alt="drawing" width="240" height="100" align="left"/>
</p>
$b(A,B,C,D)=\sum (0,1,2,3,4,7,8,9,10,13)$

$b=A'C'D'+A'CD+AC'D+B'C'+B'D'$

<p align="center">
  <img src="img/segment-c-k-map.jpg" alt="drawing" width="240" height="100" align="left"/>
</p>
$c(A,B,C,D)=\sum (0,1,3,4,5,6,7,8,9,10,11,13)$

$c=A'C'+A'D+C'D+A'B+AB'$

<p align="right">
  <img src="img/segment-d-k-map.jpg" alt="drawing" width="240" height="100" align="left"/>
</p>
$d(A,B,C,D)=\sum (0,2,3,5,6,7,8,9,11,12,13,14)$

$d=A'B'D'+B'CD+BC'D+BCD'+AC'$

<p align="center">
  <img src="img/segment-e-k-map.jpg" alt="drawing" width="250" height="100" align="left"/>
</p>
$e(A,B,C,D)=\sum (0,2,6,8,10,11,12,13,14,15)$

$e=B'D'+CD'+AC+AB$

<p align="center">
  <img src="img/segment-f-k-map.jpg" alt="drawing" width="240" height="100" align="left"/>
</p>    
$f(A,B,C,D)=\sum (0,4,5,6,8,9,10,11,12,14,15)$

$f=A'BC'+C'D'+BD'+AB'+AC$

<p align="right">
  <img src="img/segment-g-k-map.jpg" alt="drawing" width="240" height="100" align="left"/>
</p>
$g(A,B,C,D)=\sum (2,3,4,5,6,8,9,10,11,13,14,15)$

$g=A'BC'+B'C+CD'+AB'+AD$

<p align="center">
  <img src="img/complete-7-segment-HEX-decoder.png" alt="drawing" width="3000" height="3500" align="left"/>
</p>

In [30]:
def BCD_7segment_hex(p,q,r,s):
    A,B,C,D=p,q,r,s
    # N
    nA=NOT(A)  # A'
    nB=NOT(B)  # B'                      
    nC=NOT(C)  # C'
    nD=NOT(D)  # D'
    
    a= OR(OR(OR(OR(AND(nA,AND(B,D)),AND(A,AND(nB,nC))),OR(AND(nA,C),AND(B,C))),AND(nB,nD)),AND(A,nD))
    b= OR(OR(OR(OR(AND(nA,AND(nC,nD)),AND(nA,AND(C,D))),AND(A,AND(nC,D))),AND(nB,nC)),AND(nB,nD))
    c= OR(OR(OR(OR(AND(nA,nC),AND(nA,D)),AND(nC,D)),AND(nA,B)),AND(A,nB))
    d= OR(OR(OR(OR(AND(nA,AND(nB,nD)),AND(nB,AND(C,D))),AND(B,AND(nC,D))),AND(B,AND(C,nD))),AND(A,nC))
    e= OR(OR(OR(AND(nB,nD),AND(C,nD)),AND(A,C)),AND(A,B))
    f= OR(OR(OR(OR(AND(nA,AND(B,nC)),AND(nC,nD)),AND(B,nD)),AND(A,nB)),AND(A,C))
    g= OR(OR(OR(OR(AND(nA,AND(B,nC)),AND(nB,C)),AND(C,nD)),AND(A,nB)),AND(A,D))
    return a,b,c,d,e,f,g

In [31]:
print('Input','\t |\t','Output')
print(' A','B','C','D','|','a','b','c','d','e','f','g','|','Display in 7 segment')
for w,x,y,z in zip(P1,Q1,R1,S1):
    a,b,c,d,e,f,g=BCD_7segment_hex(w,x,y,z)
    print('_______________________________________________')
    print('',w,x,y,z,'|',a,b,c,d,e,f,g,'|')
    print(display_7_segment(a,b,c,d,e,f,g))
print('_______________________________________________')

Input 	 |	 Output
 A B C D | a b c d e f g | Display in 7 segment
_______________________________________________
 0 0 0 0 | 1 1 1 1 1 1 0 |
					   _
					 |   |
					 | _ |

_______________________________________________
 0 0 0 1 | 0 1 1 0 0 0 0 |

					     |
					     |

_______________________________________________
 0 0 1 0 | 1 1 0 1 1 0 1 |
					   _
					   _ |
					 | _

_______________________________________________
 0 0 1 1 | 1 1 1 1 0 0 1 |
					   _
					   _ |
					   _ |

_______________________________________________
 0 1 0 0 | 0 1 1 0 0 1 1 |

					 | _ |
					     |

_______________________________________________
 0 1 0 1 | 1 0 1 1 0 1 1 |
					   _
					 | _
					   _ |

_______________________________________________
 0 1 1 0 | 1 0 1 1 1 1 1 |
					   _
					 | _
					 | _ |

_______________________________________________
 0 1 1 1 | 1 1 1 0 0 0 0 |
					   _
					     |
					     |

_______________________________________________
 1 0 0 0 | 1 1 1 1 1 1 1 |
					   _
					 | _ |
					 | _ |

_______________________________________________
 1 0 0 1 | 1 1 1 1 0 1 1 |
					   _
					 | _ |
					   _ |

_______________________________________________
 1 0 1 0 | 1 1 1 0 1 1 1 |
					   _
					 | _ |
					 |   |

_______________________________________________
 1 0 1 1 | 0 0 1 1 1 1 1 |

					 | _
					 | _ |

_______________________________________________
 1 1 0 0 | 1 0 0 1 1 1 0 |
					   _
					 |
					 | _

_______________________________________________
 1 1 0 1 | 0 1 1 1 1 0 1 |

					   _ |
					 | _ |

_______________________________________________
 1 1 1 0 | 1 0 0 1 1 1 1 |
					   _
					 | _
					 | _

_______________________________________________
 1 1 1 1 | 1 0 0 0 1 1 1 |
					   _
					 | _
					 |

_______________________________________________

In [32]:
Ak,Bk,Ck,Dk,ak,bk,ck,dk,ek,fk,gk=[],[],[],[],[],[],[],[],[],[],[]
for w,x,y,z in zip(P1,Q1,R1,S1):
    a,b,c,d,e,f,g=BCD_7segment_hex(w,x,y,z)
    Ak.append(w)
    Bk.append(x)
    Ck.append(y)
    Dk.append(z)
    ak.append(a)
    bk.append(b)
    ck.append(c)
    dk.append(d)
    ek.append(e)
    fk.append(f)
    gk.append(g)

pd.DataFrame({
    'A':Ak,
    'B':Bk,
    'C':Ck,
    'a':ak,
    'b':bk,
    'c':ck,
    'd':dk,
    'e':ek,
    'f':fk,
    'g':gk} )

    A  B  C  a  b  c  d  e  f  g
0   0  0  0  1  1  1  1  1  1  0
1   0  0  0  0  1  1  0  0  0  0
2   0  0  1  1  1  0  1  1  0  1
3   0  0  1  1  1  1  1  0  0  1
4   0  1  0  0  1  1  0  0  1  1
5   0  1  0  1  0  1  1  0  1  1
6   0  1  1  1  0  1  1  1  1  1
7   0  1  1  1  1  1  0  0  0  0
8   1  0  0  1  1  1  1  1  1  1
9   1  0  0  1  1  1  1  0  1  1
10  1  0  1  1  1  1  0  1  1  1
11  1  0  1  0  0  1  1  1  1  1
12  1  1  0  1  0  0  1  1  1  0
13  1  1  0  0  1  1  1  1  0  1
14  1  1  1  1  0  0  1  1  1  1
15  1  1  1  1  0  0  0  1  1  1

<p align="center">
  <img src="img/Screenshot%20(2).png" alt="drawing" width="500" height="400" align="center"/>
</p>

In [33]:
def BCD_excess3_converter(a,b,c,d):
    N1=NOT(b)
    N2=NOT(d)          # z
    A1=AND(c,d)        
    O1=OR(c,d)
    N3=NOT(O1)
    O2=OR(A1,N3)      # y
    A2=AND(N3,b)
    A3=AND(O1,N1)
    A4=AND(O1,b)
    O3=OR(A2,A3)      # x
    O4=OR(A4,a)       # w
    return O4,O3,O2,N2

In [34]:
print('Input','\t |\t','Output')
print(' A','B','C','D','|','W','X','Y','Z','|','a','b','c','d','e','f','g','|','Display in 7 segment')
for a1,b1,c1,d1 in zip(P1,Q1,R1,S1):
    w,x,y,z=BCD_excess3_converter(a1,b1,c1,d1)
    a,b,c,d,e,f,g=BCD_7segment_hex(w,x,y,z)
    print('_________________________________________________________')
    print('',a1,b1,c1,d1,'|',w,x,y,z,'|',a,b,c,d,e,f,g,'|\t')
    print('\t\t\t',display_7_segment(a,b,c,d,e,f,g))
print('_________________________________________________________')

Input 	 |	 Output
 A B C D | W X Y Z | a b c d e f g | Display in 7 segment
_________________________________________________________
 0 0 0 0 | 0 0 1 1 | 1 1 1 1 0 0 1 |
					   _
					   _ |
					   _ |

_________________________________________________________
 0 0 0 1 | 0 1 0 0 | 0 1 1 0 0 1 1 |

					 | _ |
					     |

_________________________________________________________
 0 0 1 0 | 0 1 0 1 | 1 0 1 1 0 1 1 |
					   _
					 | _
					   _ |

_________________________________________________________
 0 0 1 1 | 0 1 1 0 | 1 0 1 1 1 1 1 |
					   _
					 | _
					 | _ |

_________________________________________________________
 0 1 0 0 | 0 1 1 1 | 1 1 1 0 0 0 0 |
					   _
					     |
					     |

_________________________________________________________
 0 1 0 1 | 1 0 0 0 | 1 1 1 1 1 1 1 |
					   _
					 | _ |
					 | _ |

_________________________________________________________
 0 1 1 0 | 1 0 0 1 | 1 1 1 1 0 1 1 |
					   _
					 | _ |
					   _ |

_________________________________________________________
 0 1 1 1 | 1 0 1 0 | 1 1 1 0 1 1 1 |
					   _
					 | _ |
					 |   |

_________________________________________________________
 1 0 0 0 | 1 0 1 1 | 0 0 1 1 1 1 1 |

					 | _
					 | _ |

_________________________________________________________
 1 0 0 1 | 1 1 0 0 | 1 0 0 1 1 1 0 |
					   _
					 |
					 | _

_________________________________________________________
 1 0 1 0 | 1 1 0 1 | 0 1 1 1 1 0 1 |

					   _ |
					 | _ |

_________________________________________________________
 1 0 1 1 | 1 1 1 0 | 1 0 0 1 1 1 1 |
					   _
					 | _
					 | _

_________________________________________________________
 1 1 0 0 | 1 1 1 1 | 1 0 0 0 1 1 1 |
					   _
					 | _
					 |

_________________________________________________________
 1 1 0 1 | 1 0 0 0 | 1 1 1 1 1 1 1 |
					   _
					 | _ |
					 | _ |

_________________________________________________________
 1 1 1 0 | 1 0 0 1 | 1 1 1 1 0 1 1 |
					   _
					 | _ |
					   _ |

_________________________________________________________
 1 1 1 1 | 1 0 1 0 | 1 1 1 0 1 1 1 |
					   _
					 | _ |
					 |   |

_________________________________________________________

# $$\text{Implementation of a full-adder with a decoder}$$
<p align="center">
  <img src="img/Screenshot%20(5).png" alt="drawing" width="600" height="600" align="center"/>
</p>

In [35]:
def decoder_fullAdder(D0,D1,D2,D3,D4,D5,D6,D7):
    #OR
    S=OR(OR(D1,D2),OR(D4,D7))
    C=OR(OR(D3,D5),OR(D6,D7))
    return S,C

In [36]:
print('x','y','z','|','D\u2080','D\u2081','D\u2082','D\u2083','D\u2084','D\u2085','D\u2086','D\u2087','|','S','C')
for x,y,z in zip(X1,Y1,Z1):
    D0,D1,D2,D3,D4,D5,D6,D7=decoder3_8(x,y,z)
    S,C=decoder_fullAdder(D0,D1,D2,D3,D4,D5,D6,D7)
    print(x,y,z,'|',D0,'',D1,'',D2,'',D3,'',D4,'',D5,'',D6,'',D7,' |',S,C)

x y z | D‚ÇÄ D‚ÇÅ D‚ÇÇ D‚ÇÉ D‚ÇÑ D‚ÇÖ D‚ÇÜ D‚Çá | S C
0 0 0 | 1  0  0  0  0  0  0  0  | 0 0
1 0 1 | 0  0  0  0  0  1  0  0  | 0 1
1 1 0 | 0  0  0  0  0  0  1  0  | 0 1
0 1 1 | 0  0  0  1  0  0  0  0  | 0 1

In [37]:
aea,bea,cea,D0a,D1a,D2a,D3a,D4a,D5a,D6a,D7a,Sa,Ca=[],[],[],[],[],[],[],[],[],[],[],[],[]
for x,y,z in zip(X1,Y1,Z1):
    D0,D1,D2,D3,D4,D5,D6,D7=decoder3_8(x,y,z)
    S,C=decoder_fullAdder(D0,D1,D2,D3,D4,D5,D6,D7)
    aea.append(x)
    bea.append(y)
    cea.append(z)
    D0a.append(D0)
    D1a.append(D1)
    D2a.append(D2)
    D3a.append(D3)
    D4a.append(D4)
    D5a.append(D5)
    D6a.append(D6)
    D7a.append(D7)
    Sa.append(S)
    Ca.append(C)
    
pd.DataFrame({
    '$a$':aea,
    '$b$':bea,
    '$c_{in}$':cea,
    '$D_0$':D0a,
    '$D_1$':D1a,
    '$D_2$':D2a,
    '$D_3$':D3a,
    '$D_4$':D4a,
    '$D_5$':D5a,
    '$D_6$':D6a,
    '$D_7$':D7a,
    '$S$':Sa,
    '$C_{out}$':Ca } )

,$a$,$b$,$c_{in}$,$D_0$,$D_1$,$D_2$,$D_3$,$D_4$,$D_5$,$D_6$,$D_7$,$S$,$C_{out}$
0,0,0,0,1,0,0,0,0,0,0,0,0,0
1,1,0,1,0,0,0,0,0,1,0,0,0,1
2,1,1,0,0,0,0,0,0,0,1,0,0,1
3,0,1,1,0,0,0,1,0,0,0,0,0,1

# $$\text{Octal-to-binary encoder}$$
<p align="center">
  <img src="img/Screenshot%20(7).png" alt="drawing" width="600" height="600" align="center"/>
</p>

In [38]:
def Encoder_OctaltoBinary(D0,D1,D2,D3,D4,D5,D6,D7):
    #OR
    x=OR(OR(D4,D5),OR(D6,D7))
    y=OR(OR(D2,D3),OR(D6,D7))
    z=OR(OR(D1,D3),OR(D5,D7))
    return x,y,z

In [39]:
print('x','y','z','|','D\u2080','D\u2081','D\u2082','D\u2083','D\u2084','D\u2085','D\u2086','D\u2087','|','X','Y','Z')
for x,y,z in zip(X1,Y1,Z1):
    D0,D1,D2,D3,D4,D5,D6,D7=decoder3_8(x,y,z)
    x1,y1,z1=Encoder_OctaltoBinary(D0,D1,D2,D3,D4,D5,D6,D7)
    print(x,y,z,'|',D0,'',D1,'',D2,'',D3,'',D4,'',D5,'',D6,'',D7,' |',x1,y1,z1)

x y z | D‚ÇÄ D‚ÇÅ D‚ÇÇ D‚ÇÉ D‚ÇÑ D‚ÇÖ D‚ÇÜ D‚Çá | X Y Z
0 0 0 | 1  0  0  0  0  0  0  0  | 0 0 0
1 0 1 | 0  0  0  0  0  1  0  0  | 1 0 1
1 1 0 | 0  0  0  0  0  0  1  0  | 1 1 0
0 1 1 | 0  0  0  1  0  0  0  0  | 0 1 1

In [40]:
xe,ye,ze,D0e,D1e,D2e,D3e,D4e,D5e,D6e,D7e,Xe,Ye,Ze=[],[],[],[],[],[],[],[],[],[],[],[],[],[]
for x,y,z in zip(X1,Y1,Z1):
    D0,D1,D2,D3,D4,D5,D6,D7=decoder3_8(x,y,z)
    x1,y1,z1=Encoder_OctaltoBinary(D0,D1,D2,D3,D4,D5,D6,D7)
    xe.append(x)
    ye.append(y)
    ze.append(z)
    D0e.append(D0)
    D1e.append(D1)
    D2e.append(D2)
    D3e.append(D3)
    D4e.append(D4)
    D5e.append(D5)
    D6e.append(D6)
    D7e.append(D7)
    Xe.append(x1)
    Ye.append(y1)
    Ze.append(z1)
    
pd.DataFrame({
    'x':xe,
    'y':ye,
    'z':ze,
    'D\u2080':D0e,
    'D\u2081':D1e,
    'D\u2082':D2e,
    'D\u2083':D3e,
    'D\u2084':D4e,
    'D\u2085':D5e,
    'D\u2086':D6e,
    'D\u2087':D7e,
    'X':Xe,
    'Y':Ye,
    'Z':Ze,     } )

   x  y  z  D‚ÇÄ  D‚ÇÅ  D‚ÇÇ  D‚ÇÉ  D‚ÇÑ  D‚ÇÖ  D‚ÇÜ  D‚Çá  X  Y  Z
0  0  0  0   1   0   0   0   0   0   0   0  0  0  0
1  1  0  1   0   0   0   0   0   1   0   0  1  0  1
2  1  1  0   0   0   0   0   0   0   1   0  1  1  0
3  0  1  1   0   0   0   1   0   0   0   0  0  1  1

# $$\text{2-to-4 line decoder with enable (E) input}$$
<p align="center">
  <img src="img/Screenshot%20(8).png" alt="drawing" width="600" height="600" align="center"/>
</p>

In [41]:
def decoder2to4(a,b,E):
    #NOT
    n1=NOT(a)
    n2=NOT(b)
    n3=NOT(E)
    #NAND
    A1=NOT(AND(AND(n1,n2),n3)) #D‚ÇÄ
    A2=NOT(AND(AND(n1,b),n3))  #D‚ÇÅ
    A3=NOT(AND(AND(a,n2),n3))  #D‚ÇÇ
    A4=NOT(AND(AND(a,b),n3))   #D‚ÇÉ
    return A1,A2,A3,A4

In [42]:
print(' E','A','B','|','D\u2080','D\u2081','D\u2082','D\u2083')

for E in [0,1]:
    for a,b in zip(A,B):
        D0,D1,D2,D3=decoder2to4(a,b,E)
        
        if E==1:
            print('\033[0;33m',+E,a,b,'|',D0,'',D1,'',D2,'',D3,''+'\033[0m')
        else :
            print('',E,a,b,'|',D0,'',D1,'',D2,'',D3)

 E A B | D‚ÇÄ D‚ÇÅ D‚ÇÇ D‚ÇÉ
 0 0 0 | 0  1  1  1
 0 0 1 | 1  0  1  1
 0 1 0 | 1  1  0  1
 0 1 1 | 1  1  1  0
 1 0 0 | 1  1  1  1
 1 0 1 | 1  1  1  1
 1 1 0 | 1  1  1  1
 1 1 1 | 1  1  1  1

In [43]:
Ed,ad,bd,D0d,D1d,D2d,D3d=[],[],[],[],[],[],[]
for E in [0,1]:
    for a,b in zip(A,B):
        D0,D1,D2,D3=decoder2to4(a,b,E)
        Ed.append(E)
        ad.append(a)
        bd.append(b)
        D0d.append(D0)
        D1d.append(D1)
        D2d.append(D2)
        D3d.append(D3)
        
dE=pd.DataFrame({
    'E':Ed,
    'a':ad,
    'b':bd,
    'D\u2080':D0d,
    'D\u2081':D1d,
    'D\u2082':D2d,
    'D\u2083':D3d} )   

def highlight_hihg_E_1(s):
    if s.E == 1.0:                      # checking for Y==1
        return ['background-color: yellow']*len(s)
    else:
        return ['background-color: white']*len(s)


display(dE.style.apply(highlight_hihg_E_1,axis=1))

# $$\text{4-to-1 line multiplexer}$$
<p align="center">
  <img src="img/Screenshot%20(9).png" alt="drawing" width="600" height="600" align="center"/>
</p>

In [44]:
def multiplexer4to1(I0,I1,I2,I3,S_0,S_1):
    #NOT
    n1=NOT(S_0)
    n2=NOT(S_1)
    #AND
    A1=AND(AND(n1,n2),I0)
    A2=AND(AND(S_0,n2),I1)
    A3=AND(AND(n1,S_1),I2)
    A4=AND(AND(S_0,S_1),I3)
    #OR
    Y=OR(OR(A1,A2),OR(A3,A4))
    return Y

In [45]:
I=([0,0,0,0],
   [0,0,0,1],
   [0,0,1,0],
   [0,1,0,0],
   [1,0,0,0])

I01,I11,I21,I31,S01,S11,Y,Ind=[],[],[],[],[],[],[],[]
for I0,I1,I2,I3 in I:
    for S_0,S_1 in zip(A,B):
        y=multiplexer4to1(I0,I1,I2,I3,S_0,S_1)
        I01.append(I0)
        I11.append(I1)
        I21.append(I2)
        I31.append(I3)
        S01.append(S_0)
        S11.append(S_1)
        Y.append(y)
        if (I3==1)&(y==1): 
            s='I\u2080'
        elif (I2==1)&(y==1): 
            s='I\u2081'
        elif (I1==1)&(y==1): 
            s='I\u2082'
        elif (I0==1)&(y==1): 
            s='I\u2083'
        else: 
            s=''
        Ind.append(s)
        
df=pd.DataFrame({
    'I\u2080':I01,
    'I\u2081':I11,
    'I\u2082':I21,
    'I\u2083':I31,
    'S\u2080':S01,
    'S\u2081':S11,
    'Y':Y,     
    'Index':Ind} )        

def highlight_greaterthan_0(s):
    if s.Y == 1.0:                      # checking for Y==1
        return ['background-color: lime']*len(s)
    else:
        return ['background-color: white']*len(s)

df.style.apply(highlight_greaterthan_0,axis=1)

In [46]:
I01,I11,I21,I31,S01,S11,Y,Ind=[],[],[],[],[],[],[],[]
for I0,I1,I2,I3 in zip(P1,Q1,R1,S1):
    for S_0,S_1 in zip(A,B):
        y=multiplexer4to1(I0,I1,I2,I3,S_0,S_1)
        
        if (I3==1)&(y==1): 
            s='I\u2080'
        elif (I2==1)&(y==1): 
            s='I\u2081'
        elif (I1==1)&(y==1): 
            s='I\u2082'
        elif (I0==1)&(y==1): 
            s='I\u2083'
        else: 
            s=''
            
        I01.append(I0)
        I11.append(I1)
        I21.append(I2)
        I31.append(I3)
        S01.append(S_0)
        S11.append(S_1)
        Y.append(y)
        Ind.append(s)
        
df=pd.DataFrame({
    'I\u2080':I01,
    'I\u2081':I11,
    'I\u2082':I21,
    'I\u2083':I31,
    'S\u2080':S01,
    'S\u2081':S11,
    'Y':Y,     
    'Index':Ind  })        

def highlight_greaterthan_0(s):
    if s.Y == 1.0:                      # checking for Y==1
        return ['background-color: cyan']*len(s)   
    else:
        return ['background-color: white']*len(s)
df.style.apply(highlight_greaterthan_0,axis=1)