What do u mean by binary ??

A: Any 2-bit operation is binary!

What do u mean by 2-bit?
the language that a machine (digital) reads!

In [1]:
import pandas as pd

In [2]:
for i in range(2):
    print(i)

0
1

followings this principals:-

### $\text{Logic NOT}$

In [3]:
def NOT(a):
    if a==1: return 0
    else : return 1

### $\text{Logic AND}$

In [4]:
def AND(a,b):
    if (a==1)&(b==1): return 1
    else : return 0

### $\text{Logic OR}$

In [5]:
def OR(a,b):
    if (a==1)|(b==1): return 1
    else : return 0

### $\text{Logic NAND}$

In [6]:
def NAND(a,b):
    if (a==1)&(b==1): return 0
    else : return 1

### $\text{Logic NOR}$

In [7]:
def NOR(a,b):
    if (a==1)|(b==1): return 0
    else : return 1

### $\text{Logic Exclusive-OR}$

In [8]:
def XOR(a,b):
    if a==b: return 0
    else : return 1

### $\text{Logic Exclusive-NOR}$

In [9]:
def XNOR(a,b):
    if a==b: return 1
    else : return 0

In [10]:
A=[0,0,1,1]
B=[0,1,0,1]

#### Checking the analytic function output of Logic

In [11]:
print('| 𝑎 |','𝑏 |','𝑎̃ |','𝑏̃ |','𝑎⋅𝑏 |','𝑎+𝑏|','𝑎↑𝑏 |','𝑎↓𝑏 |','𝑎⊕𝑏 |','𝑎⊙𝑏|')
for a,b in zip(A,B):
    an=NOT(a)
    bn=NOT(b)
    A1=AND(a,b)
    O=OR(a,b)
    An=NAND(a,b)
    On=NOR(a,b)
    X=XOR(a,b)
    Xn=XNOR(a,b)
    print('|',a,'|',b,'|',an,'|',bn,'|',A1,' | ',O,'| ',An,' | ',On,' | ',X,'  | ',Xn,' |')

| 𝑎 | 𝑏 | 𝑎̃ | 𝑏̃ | 𝑎⋅𝑏 | 𝑎+𝑏| 𝑎↑𝑏 | 𝑎↓𝑏 | 𝑎⊕𝑏 | 𝑎⊙𝑏|
| 0 | 0 | 1 | 1 | 0  |  0 |  1  |  1  |  0   |  1  |
| 0 | 1 | 1 | 0 | 0  |  1 |  1  |  0  |  1   |  0  |
| 1 | 0 | 0 | 1 | 0  |  1 |  1  |  0  |  1   |  0  |
| 1 | 1 | 0 | 0 | 1  |  1 |  0  |  0  |  0   |  1  |

In [12]:
an,bn,A1,O,An,On,X,Xn=[],[],[],[],[],[],[],[]

for a,b in zip(A,B):
    an.append(NOT(a))
    bn.append(NOT(b))
    A1.append(AND(a,b))
    O.append(OR(a,b))
    An.append(NAND(a,b))
    On.append(NOR(a,b))
    X.append(XOR(a,b))
    Xn.append(XNOR(a,b))
    
data={
    'a':A,
    'b':B,
    '𝑎̃':an,
    '𝑏̃':bn,
    '𝑎⋅𝑏':A1,
    '𝑎+𝑏':O,
    '𝑎↑𝑏':An,
    '𝑎↓𝑏':On,
    '𝑎⊕𝑏':X,
    '𝑎⊙𝑏':Xn }
pd.DataFrame(data)

   a  b  𝑎̃  𝑏̃  𝑎⋅𝑏  𝑎+𝑏  𝑎↑𝑏  𝑎↓𝑏  𝑎⊕𝑏  𝑎⊙𝑏
0  0  0   1   1    0    0    1    1    0    1
1  0  1   1   0    0    1    1    0    1    0
2  1  0   0   1    0    1    1    0    1    0
3  1  1   0   0    1    1    0    0    0    1

#### Checking the computed function with the analytic NAND Logic
<img width="500" align="left" src="https://spinningnumbers.org/i/logic13.svg">
<img width="210" align="right" src="https://spinningnumbers.org/i/logic_tt_NAND.svg">

In [13]:
f=0
print('| a |','b |','  a⋅b\t|',' a↑b_(cal)\t|',' a↑b_(anl)\t|')
for a,b in zip(A,B):
    print('|',a,'|',b,'|   ',AND(a,b),'\t|\t',NOT(AND(a,b)),'\t|\t ',NAND(a,b),'\t|')
    if NOT(AND(a,b))==NAND(a,b):        f+=1
        
if f==len(A):
    print('\nLHS==RHS')

| a | b |   a⋅b	|  a↑b_(cal)	|  a↑b_(anl)	|
| 0 | 0 |    0 	|	 1 	|	  1 	|
| 0 | 1 |    0 	|	 1 	|	  1 	|
| 1 | 0 |    0 	|	 1 	|	  1 	|
| 1 | 1 |    1 	|	 0 	|	  0 	|

LHS==RHS

#### Checking the computed function with the analytic NOR Logic
<img width="300" align="left"  src="https://spinningnumbers.org/i/logic14.svg"><img width="200" align="right" src="https://spinningnumbers.org/i/logic_tt_NOR.svg">

In [14]:
f=0
print('| a |',' b |','a+b\t|',' a↓b_(cal)\t|',' a↓b_(anl)\t|')
for a,b in zip(A,B):
    print('|',a,'| ',b,'| ',OR(a,b),'\t|\t',NOT(OR(a,b)),'\t|\t',NOR(a,b),'\t|')
    if NOT(OR(a,b))==NOR(a,b):        f+=1
        
if f==len(A):
    print('\nLHS==RHS')

| a |  b | a+b	|  a↓b_(cal)	|  a↓b_(anl)	|
| 0 |  0 |  0 	|	 1 	|	 1 	|
| 0 |  1 |  1 	|	 0 	|	 0 	|
| 1 |  0 |  1 	|	 0 	|	 0 	|
| 1 |  1 |  1 	|	 0 	|	 0 	|

LHS==RHS

#### Checking the computed function with the analytic XOR and XNOR Logic

<img width="350" align="left" src="https://spinningnumbers.org/i/logic13.svg">

<img width="300" align="right" src="https://upload.wikimedia.org/wikipedia/commons/e/ed/3_gate_XOR.svg">

<img width="300" align="left"  src="https://spinningnumbers.org/i/logic14.svg">
<img width="300" align="right" src="https://upload.wikimedia.org/wikipedia/commons/6/66/3_gate_XNOR.svg">

In [15]:
f=0
print('| a |','b |',' a⊕b_(cal) \t|',' a⊕b_(anl)\t|',' a⊙b_(cal)\t|',' a⊙b_(anl)\t|')
for a,b in zip(A,B):
    N1=NOT(a)
    N2=NOT(b)
    O1=OR(N1,N2)
    O2=OR(a,b)
    X=AND(O1,O2)
    A1=AND(a,b)
    A2=AND(N1,N2)
    Xn=OR(A1,A2)
    X_a=XOR(a,b)
    Xn_a=XNOR(a,b)
    print('|',a,'|',b,'|\t',X,'\t|\t',X_a,'\t|\t',Xn,'\t|\t',Xn_a,'\t|')
    if (X==X_a)&(Xn==Xn_a): f+=1
        
if f==len(A):
    print('\nLHS==RHS')

| a | b |  a⊕b_(cal) 	|  a⊕b_(anl)	|  a⊙b_(cal)	|  a⊙b_(anl)	|
| 0 | 0 |	 0 	|	 0 	|	 1 	|	 1 	|
| 0 | 1 |	 1 	|	 1 	|	 0 	|	 0 	|
| 1 | 0 |	 1 	|	 1 	|	 0 	|	 0 	|
| 1 | 1 |	 0 	|	 0 	|	 1 	|	 1 	|

LHS==RHS

# **Conversion-  NAND IMPLEMENTATION**

**NOT** 
<img width="100" height="120" align="center" src="https://upload.wikimedia.org/wikipedia/commons/3/3f/NOT_from_NAND.svg">

**AND** 
<img width="200" height="120" align="center" src="https://upload.wikimedia.org/wikipedia/commons/1/16/AND_from_NAND.svg">

**OR** 
<img width="200" height="120" align="center" src="https://upload.wikimedia.org/wikipedia/commons/9/90/OR_from_NAND.svg">

**NOR** 
<img width="250" height="320" align="center" src="https://upload.wikimedia.org/wikipedia/commons/4/4e/NOR_from_NAND.svg">

**XOR** 
<img width="270" height="360" align="center" src="https://upload.wikimedia.org/wikipedia/commons/f/fa/XOR_from_NAND.svg">

**XNOR** 
<img width="370" height="360" align="center" src="https://upload.wikimedia.org/wikipedia/commons/e/e2/XNOR_from_NAND.svg">

In [16]:
print('| a |',' b |','𝑎̃ |','𝑏̃ |',' a⋅b\t|','a+b\t|','a↓b\t|','a⊕b\t|','a⊙b\t|')

for a,b in zip(A,B):
    
    # NAND -> NOT
    gt1=NAND(a,a)
    gta=NAND(b,b)
    # NAND -> AND
    gt2=NAND(a,b)
    gt3=NAND(gt2,gt2)
    
    # NAND -> OR
    gt4=NAND(b,b)
    gt5=NAND(gt1,gt4)
    
    # NAND -> NOR
    gt6=NAND(gt5,gt5)
    
    # NAND -> XOR
    gt7=NAND(a,gt2)
    gt8=NAND(b,gt2)
    gt9=NAND(gt7,gt8)
    
    # NAND -> XNOR
    gt10=NAND(gt9,gt9)
    
    print('|',a,'| ',b,'|',gt1,'|',gta,'|  ',gt3,'\t| ',gt5,'\t| ',gt6,'\t| ',gt9,'\t| ',gt10,'\t|')

| a |  b | 𝑎̃ | 𝑏̃ |  a⋅b	| a+b	| a↓b	| a⊕b	| a⊙b	|
| 0 |  0 | 1 | 1 |   0 	|  0 	|  1 	|  0 	|  1 	|
| 0 |  1 | 1 | 0 |   0 	|  1 	|  0 	|  1 	|  0 	|
| 1 |  0 | 0 | 1 |   0 	|  1 	|  0 	|  1 	|  0 	|
| 1 |  1 | 0 | 0 |   1 	|  1 	|  0 	|  0 	|  1 	|

In [17]:
def NAND_NOT(a):
    return NAND(a,a)# NAND -> NOT
    
def NAND_AND(a,b):
    return NAND(NAND(a,b),NAND(a,b))# NAND -> AND
    
def NAND_OR(a,b):
    return NAND(NAND(a,a),NAND(b,b))# NAND -> OR

def NAND_NOR(a,b): 
    return NAND(NAND_OR(a,b),NAND_OR(a,b))# NAND -> NOR

def NAND_XOR(a,b):
    return NAND(NAND(a,NAND(a,b)),NAND(b,NAND(a,b)))# NAND -> XOR

def NAND_XNOR(a,b):
    return NAND(NAND_XOR(a,b),NAND_XOR(a,b))# NAND -> XNOR

this is just the checking of digital logics in computer interfaces

In [18]:
print(' NAND LOGIC')
an1,bn1,A11,O1,On1,X1,Xn1=[],[],[],[],[],[],[]
for a,b in zip(A,B):
    an1.append(NAND_NOT(a))
    bn1.append(NAND_NOT(b))
    A11.append(NAND_AND(a,b))
    O1.append(NAND_OR(a,b))
    On1.append(NAND_NOR(a,b))
    X1.append(NAND_XOR(a,b))
    Xn1.append(NAND_XNOR(a,b))
    
pd.DataFrame({
    'a':A,
    'b':B,
    '𝑎̃':an1,
    '𝑏̃':bn1,
    '𝑎⋅𝑏':A11,
    '𝑎+𝑏':O1,
    '𝑎↓𝑏':On1,
    '𝑎⊕𝑏':X1,
    '𝑎⊙𝑏':Xn1
     })

 NAND LOGIC

   a  b  𝑎̃  𝑏̃  𝑎⋅𝑏  𝑎+𝑏  𝑎↓𝑏  𝑎⊕𝑏  𝑎⊙𝑏
0  0  0   1   1    0    0    1    0    1
1  0  1   1   0    0    1    0    1    0
2  1  0   0   1    0    1    0    1    0
3  1  1   0   0    1    1    0    0    1

# **Conversion-  NOR IMPLEMENTATION :**

**NOT** 
<img width="100" height="120" align="center" src="https://upload.wikimedia.org/wikipedia/commons/b/ba/NOT_from_NOR.svg">

**OR**
<img width="200" height="120" align="center" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4b/OR_from_NOR.svg/1920px-OR_from_NOR.svg.png">

**AND**
<img width="200" height="120" align="center" src="https://upload.wikimedia.org/wikipedia/commons/f/f4/AND_from_NOR.svg">

**NAND**
<img width="250" height="320" align="center" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/NAND_from_NOR.svg/1920px-NAND_from_NOR.svg.png">

**XNOR**
<img width="270" height="360" align="center" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/XNOR_from_NOR.svg/1920px-XNOR_from_NOR.svg.png">


**XOR**
<img width="360" height="320" align="center" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/XOR_from_NOR_2.svg/1920px-XOR_from_NOR_2.svg.png">

In [19]:
print('| a |',' b |','𝑎̃ |','𝑏̃ |',' a+b\t|','a⋅b\t|','a↓b\t|','a⊕b\t|','a⊙b\t|')

for a,b in zip(A,B):
    
    # NOR -> NOT
    gt1=NOR(a,a)

    # NOR -> OR
    gt2=NOR(a,b)
    gt3=NOR(gt2,gt2)
    
    # NOR -> AND
    gt4=NOR(b,b)
    gt5=NOR(gt1,gt4)
    
    # NOR -> NAND
    gt6=NOR(gt5,gt5)
    
    # NOR -> XNOR
    gt7=NOR(a,gt2)
    gt8=NOR(b,gt2)
    gt9=NOR(gt7,gt8)
    
    # NOR -> XOR
    gt10=NOR(gt9,gt9)
    
    print('|',a,'| ',b,'|',gt1,'|',gt4,'|  ',gt3,' | ',gt5,'\t| ',gt6,'\t| ',gt9,'\t| ',gt10,'\t|')

| a |  b | 𝑎̃ | 𝑏̃ |  a+b	| a⋅b	| a↓b	| a⊕b	| a⊙b	|
| 0 |  0 | 1 | 1 |   0  |  0 	|  1 	|  1 	|  0 	|
| 0 |  1 | 1 | 0 |   1  |  0 	|  1 	|  0 	|  1 	|
| 1 |  0 | 0 | 1 |   1  |  0 	|  1 	|  0 	|  1 	|
| 1 |  1 | 0 | 0 |   1  |  1 	|  0 	|  1 	|  0 	|

In [20]:
def NOR_NOT(a):
    return NOR(a,a)# NOR -> NOT
    
def NOR_AND(a,b):
    return NOR(NOR(a,a),NOR(b,b))# NOR -> AND
    
def NOR_OR(a,b):
    return NOR(NOR(a,b),NOR(a,b))# NOR -> OR

def NOR_NAND(a,b): 
    return NOR(NOR_AND(a,b),NOR_AND(a,b))# NOR -> NAND

def NOR_XNOR(a,b):
    return NOR(NOR(a,NOR(a,b)),NOR(b,NOR(a,b)))# NOR -> XNOR

def NOR_XOR(a,b):
    return NOR(NOR_XNOR(a,b),NOR_XNOR(a,b))# NOR -> XOR

In [21]:
print(' NOR LOGIC')
an2,bn2,A12,O2,An2,X2,Xn2=[],[],[],[],[],[],[]
for a,b in zip(A,B):
    an2.append(NOR_NOT(a))
    bn2.append(NOR_NOT(b))
    A12.append(NOR_AND(a,b))
    O2.append(NOR_OR(a,b))
    An2.append(NOR_NAND(a,b))
    X2.append(NOR_XOR(a,b))
    Xn2.append(NOR_XNOR(a,b))
    
pd.DataFrame({
    'a':A,
    'b':B,
    '𝑎̃':an2,
    '𝑏̃':bn2,
    '𝑎+𝑏':O2,
    '𝑎⋅𝑏':A12,
    '𝑎↑𝑏':An2,
    '𝑎⊕𝑏':X2,
    '𝑎⊙𝑏':Xn2
     })

 NOR LOGIC

   a  b  𝑎̃  𝑏̃  𝑎+𝑏  𝑎⋅𝑏  𝑎↑𝑏  𝑎⊕𝑏  𝑎⊙𝑏
0  0  0   1   1    0    0    1    0    1
1  0  1   1   0    1    0    1    1    0
2  1  0   0   1    1    0    1    1    0
3  1  1   0   0    1    1    0    0    1

# $\text{HALF ADDER}$
<img width="200" height="220" align="center" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Half_Adder.svg/1920px-Half_Adder.svg.png">

In [22]:
def HalfAdder(a,b):
    s=XOR(a,b)
    c=AND(a,b)
    return s,c

In [23]:
print('x','y','|','S','C')
for a,b in zip(A,B):
    s,c=HalfAdder(a,b)
    print(a,b,'|',s,c)

x y | S C
0 0 | 0 0
0 1 | 1 0
1 0 | 1 0
1 1 | 0 1

# $\text{FULL ADDER}$
<p align="center">
  <img src="img/Full-adder.png" alt="drawing" width="500" align="center"/>
</p>

In [24]:
def FullAdder(x,y,z):
    s1,c1=HalfAdder(x,y)
    s2,c2=HalfAdder(s1,z)
    return s2,OR(c1,c2)

In [25]:
X=[0,0,0,0,1,1,1,1]
Y=[0,0,1,1,0,0,1,1]
Z=[0,1,0,1,0,1,0,1]

In [26]:
print('x','y','z','|','S','C')
for x,y,z in zip(X,Y,Z):
    sh,ch=FullAdder(x,y,z)
    print(x,y,z,'|',sh,ch)

x y z | S C
0 0 0 | 0 0
0 0 1 | 1 0
0 1 0 | 1 0
0 1 1 | 0 1
1 0 0 | 1 0
1 0 1 | 0 1
1 1 0 | 0 1
1 1 1 | 1 1

## **NAND logic of a full-adder**
<img width="600" height="320" align="right" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Full_Adder_using_NAND_gates.svg/1920px-Full_Adder_using_NAND_gates.svg.png">

In [27]:
def NAND_FullAdder(x,y,z):
    S=NAND_XOR(NAND_XOR(x,y),z)
    C=NAND(NAND(NAND_XOR(x,y),z),NAND(x,y))
    return S,C

In [28]:
print('x','y','z','|','S','C')
for x,y,z in zip(X,Y,Z):
    S,C=NAND_FullAdder(x,y,z)
    print(x,y,z,'|',S,C)

x y z | S C
0 0 0 | 0 0
0 0 1 | 1 0
0 1 0 | 1 0
0 1 1 | 0 1
1 0 0 | 1 0
1 0 1 | 0 1
1 1 0 | 0 1
1 1 1 | 1 1

## **NOR logic of a full-adder**
<img width="600" height="320" align="right" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Full_Adder_using_NOR_gates.svg/1920px-Full_Adder_using_NOR_gates.svg.png">

In [29]:
def NOR_FullAdder(x,y,z):
    S=NOR_XNOR(NOR_XNOR(x,y),z)
    C=NOR(NOR(NOR_XNOR(x,y),z),NOR(x,y))
    return S,C

In [30]:
print('x','y','z','|','S','C')
for x,y,z in zip(X,Y,Z):
    S,C=NOR_FullAdder(x,y,z) 
    print(x,y,z,'|',S,C)

x y z | S C
0 0 0 | 0 0
0 0 1 | 1 0
0 1 0 | 1 0
0 1 1 | 0 1
1 0 0 | 1 0
1 0 1 | 0 1
1 1 0 | 0 1
1 1 1 | 1 1

<p align="center">
  <img src="img/Screenshot%20(1).png" alt="drawing" width="500" align="center"/>
</p>

In [31]:
print('| x','| y','| z','| F1','| F2 |')
for x,y,z in zip(X,Y,Z):
    A1=AND(x,y)
    O1=OR(x,y)
    A2=AND(A1,z)
    O2=OR(O1,z)
    A3=AND(O1,z)
    O3=OR(A1,A3)  # F2
    N1=NOT(O3)
    A4=AND(N1,O3)
    O4=OR(A4,A2)  # F1
    print('|',x,'|',y,'|',z,'|',O4,' |',O3,' |')

| x | y | z | F1 | F2 |
| 0 | 0 | 0 | 0  | 0  |
| 0 | 0 | 1 | 0  | 0  |
| 0 | 1 | 0 | 0  | 0  |
| 0 | 1 | 1 | 0  | 1  |
| 1 | 0 | 0 | 0  | 0  |
| 1 | 0 | 1 | 0  | 1  |
| 1 | 1 | 0 | 0  | 1  |
| 1 | 1 | 1 | 1  | 1  |

# $$\text{3-to-8-line decoder}$$
<p align="center">
  <img src="img/Screenshot%20(3).png" alt="drawing" width="500" height="400" align="center"/>
</p>

In [32]:
def decoder3_8(x,y,z):
    # NOT
    N1=NOT(x)
    N2=NOT(y)
    N3=NOT(z)
    # AND
    A1=AND(N1,N2)
    A2=AND(A1,N3)  #x'y'z' ->D0
    A3=AND(A1,z)   #x'y'z  ->D1
    A4=AND(N1,y)
    A5=AND(A4,N3)  #x'yz'  ->D2
    A6=AND(A4,z)   #x'yz   ->D3
    A7=AND(x,N2)
    A8=AND(A7,N3)  #xy'z'  ->D4
    A9=AND(A7,z)    #xy'z  ->D5
    A10=AND(x,y)
    A11=AND(A10,N3) #xyz'->D6
    A12=AND(A10,z)  #xyz ->D7
    return A2,A3,A5,A6,A8,A9,A11,A12

In [33]:
print('x','y','z','|','D0','D1','D2','D3','D4','D5','D6','D7')
for x,y,z in zip(X,Y,Z):
    D0,D1,D2,D3,D4,D5,D6,D7=decoder3_8(x,y,z)
    print(x,y,z,'| ',D0,'',D1,'',D2,'',D3,'',D4,'',D5,'',D6,'',D7)

x y z | D0 D1 D2 D3 D4 D5 D6 D7
0 0 0 |  1  0  0  0  0  0  0  0
0 0 1 |  0  1  0  0  0  0  0  0
0 1 0 |  0  0  1  0  0  0  0  0
0 1 1 |  0  0  0  1  0  0  0  0
1 0 0 |  0  0  0  0  1  0  0  0
1 0 1 |  0  0  0  0  0  1  0  0
1 1 0 |  0  0  0  0  0  0  1  0
1 1 1 |  0  0  0  0  0  0  0  1

# $$\text{BCD-to-decimal decoder}$$
<p align="center">
  <img src="img/Screenshot%20(4).png" alt="drawing" width="600" height="600" align="center"/>
</p>

In [34]:
def BCD_Decimal_Decoder(w,x,y,z):    
    # NOT
    N1=NOT(w)
    N2=NOT(x)
    N3=NOT(y)
    N4=NOT(z)
    # AND
    A1=AND(N1,N2) #w'x'
    A2=AND(A1,N3) #w'x'y'
    A3=AND(A2,N4) #w'x'y'z' ->D0
    A4=AND(A2,z)  #w'x'y'z  ->D1
    A5=AND(N2,y)  #x'y
    A6=AND(A5,N4)  #x'yz'  ->D2
    A7=AND(A5,z)   #x'yz   ->D3
    A8=AND(x,N3)   #xy'
    A9=AND(A8,N4)  #xy'z' ->D4
    A10=AND(A8,z)  #xy'z  ->D5
    A11=AND(x,y)    #xy
    A12=AND(A11,N4) #xyz'->D6
    A13=AND(A11,z)  #xyz ->D7
    A14=AND(w,N4)   #wz' ->D8
    A15=AND(w,z)    #wz  ->D9
    return A3,A4,A6,A7,A9,A10,A12,A13,A14,A15

In [35]:
P=[0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1]
Q=[0,0,0,0,1,1,1,1,0,0,0,0,1,1,1,1]
R=[0,0,1,1,0,0,1,1,0,0,1,1,0,0,1,1]
S=[0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1]

In [36]:
print('w','x','y','z','|','D0','D1','D2','D3','D4','D5','D6','D7','D8','D9')
for w,x,y,z in zip(P,Q,R,S):
    D0,D1,D2,D3,D4,D5,D6,D7,D8,D9=BCD_Decimal_Decoder(w,x,y,z)
    print(w,x,y,z,'| ',D0,'',D1,'',D2,'',D3,'',D4,'',D5,'',D6,'',D7,'',D8,'',D9)

w x y z | D0 D1 D2 D3 D4 D5 D6 D7 D8 D9
0 0 0 0 |  1  0  0  0  0  0  0  0  0  0
0 0 0 1 |  0  1  0  0  0  0  0  0  0  0
0 0 1 0 |  0  0  1  0  0  0  0  0  0  0
0 0 1 1 |  0  0  0  1  0  0  0  0  0  0
0 1 0 0 |  0  0  0  0  1  0  0  0  0  0
0 1 0 1 |  0  0  0  0  0  1  0  0  0  0
0 1 1 0 |  0  0  0  0  0  0  1  0  0  0
0 1 1 1 |  0  0  0  0  0  0  0  1  0  0
1 0 0 0 |  0  0  0  0  0  0  0  0  1  0
1 0 0 1 |  0  0  0  0  0  0  0  0  0  1
1 0 1 0 |  0  0  1  0  0  0  0  0  1  0
1 0 1 1 |  0  0  0  1  0  0  0  0  0  1
1 1 0 0 |  0  0  0  0  1  0  0  0  1  0
1 1 0 1 |  0  0  0  0  0  1  0  0  0  1
1 1 1 0 |  0  0  0  0  0  0  1  0  1  0
1 1 1 1 |  0  0  0  0  0  0  0  1  0  1

# $$\text{BCD to 7 Segment LED Display Decoder}$$
<p align="center">
  <img src="img/BCD-to-common-anode-7-segment-truth-table.jpg" alt="drawing" width="400" height="300" align="left"/>
</p>

$a = F1 (A, B, C, D) = ∑m (0, 2, 3, 5, 7, 8, 9)$

$b = F2 (A, B, C, D) = ∑m (0, 1, 2, 3, 4, 7, 8, 9)$

$c = F3 (A, B, C, D) = ∑m (0, 1, 3, 4, 5, 6, 7, 8, 9)$

$d = F4 (A, B, C, D) = ∑m (0, 2, 3, 5, 6, 8)$

$e = F5 (A, B, C, D) = ∑m (0, 2, 6, 8)$

$f = F6 (A, B, C, D) = ∑m (0, 4, 5, 6, 8, 9)$

$g = F7 (A, B, C, D) = ∑m (2, 3, 4, 5, 6, 8, 9)$

<p align="center">
  <img src="img/K-map-a.jpg" alt="drawing" width="900" height="300" align="left"/>
</p>

<p align="center">
  <img src="img/K-map-d.jpg" alt="drawing" width="900" height="300" align="left"/>
</p>

<p align="center">
  <img src="img/K-map-g.jpg" alt="drawing" width="300" height="300" align="left"/>
</p>

<p align="center">
  <img src="img/BCD-to-7-segment-Decoder-Design-Using-Basic-Gates.jpg" alt="drawing" width="400" height="300" align="left"/>
</p>

In [37]:
def BCD_7segment9(p,q,r,s):
    a=OR(OR(p,r),OR(AND(q,s),AND(NOT(q),NOT(s))))
    b=OR(OR(NOT(q),AND(r,s)),AND(NOT(r),NOT(s)))
    c=OR(OR(q,NOT(r)),s)
    d=OR(OR(AND(NOT(q),NOT(s)),AND(r,NOT(s))),OR(OR(p,AND(NOT(q),r)),AND(AND(q,NOT(r)),s)))
    e=OR(AND(NOT(q),NOT(s)),AND(r,NOT(s)))
    f=OR(OR(p,AND(NOT(r),NOT(s))),OR(AND(q,NOT(r)),AND(q,NOT(s))))
    g=OR(OR(p,AND(q,NOT(r))),OR(AND(NOT(q),r),AND(r,NOT(s))))
    return a,b,c,d,e,f,g

In [38]:
print('A','B','C','D','|','a','b','c','d','e','f','g')
for w,x,y,z in zip(P,Q,R,S):
    a,b,c,d,e,f,g=BCD_7segment9(w,x,y,z)
    print(w,x,y,z,'|',a,b,c,d,e,f,g)

A B C D | a b c d e f g
0 0 0 0 | 1 1 1 1 1 1 0
0 0 0 1 | 0 1 1 0 0 0 0
0 0 1 0 | 1 1 0 1 1 0 1
0 0 1 1 | 1 1 1 1 0 0 1
0 1 0 0 | 0 1 1 0 0 1 1
0 1 0 1 | 1 0 1 1 0 1 1
0 1 1 0 | 1 0 1 1 1 1 1
0 1 1 1 | 1 1 1 0 0 0 0
1 0 0 0 | 1 1 1 1 1 1 1
1 0 0 1 | 1 1 1 1 0 1 1
1 0 1 0 | 1 1 0 1 1 1 1
1 0 1 1 | 1 1 1 1 0 1 1
1 1 0 0 | 1 1 1 1 0 1 1
1 1 0 1 | 1 0 1 1 0 1 1
1 1 1 0 | 1 0 1 1 1 1 1
1 1 1 1 | 1 1 1 1 0 1 1

# 7 segment display plot
<p align="center">
  <img src="img/7-segment-numeric-display.png" alt="drawing" width="100" height="300" align="left"/>
</p>

<p align="center">
  <img src="img/Seven-segment-display.png" alt="drawing" width="1000" height="300" align="left"/>
</p>

In [39]:
def display_7_segment(a,b,c,d,e,f,g):
    if a==1:
        a = "1"
        a = a.replace("1", "_" )
    elif a==0:
        a = "0"
        a = a.replace("0", " ")
    if b==1:
        b = "1"
        b = b.replace("1", "|" )
    elif b==0:
        b = "0"
        b = b.replace("0", " ")
    if c==1:
        c = "1"
        c = c.replace("1", "|" )
    elif c==0:
        c = "0"
        c = c.replace("0", " ")
    if d==1:
        d = "1"
        d = d.replace("1", "_" )
    elif d==0:
        d = "0"
        d = d.replace("0", " ")
    if e==1:
        e = "1"
        e = e.replace("1", "|" )
    elif e==0:
        e = "0"
        e = e.replace("0", " ")
    if f==1:
        f = "1"
        f = f.replace("1", "|" )
    elif f==0:
        f = "0"
        f = f.replace("0", " ")
    if g==1:
        g = "1"
        g = g.replace("1", "_" )
    elif g==0:
        g = "0"
        g = g.replace("0", " ")
    
    print( '  ',a,"\n",f,g,b,"\n",e,d,c)
    return ""

In [40]:
print('A','B','C','D','|','a','b','c','d','e','f','g')
for w,x,y,z in zip(P,Q,R,S):
    a,b,c,d,e,f,g=BCD_7segment9(w,x,y,z)
    print(w,x,y,z,'|',a,b,c,d,e,f,g)
    print(display_7_segment(a,b,c,d,e,f,g))

A B C D | a b c d e f g
0 0 0 0 | 1 1 1 1 1 1 0
   _
 |   |
 | _ |

0 0 0 1 | 0 1 1 0 0 0 0

     |
     |

0 0 1 0 | 1 1 0 1 1 0 1
   _
   _ |
 | _

0 0 1 1 | 1 1 1 1 0 0 1
   _
   _ |
   _ |

0 1 0 0 | 0 1 1 0 0 1 1

 | _ |
     |

0 1 0 1 | 1 0 1 1 0 1 1
   _
 | _
   _ |

0 1 1 0 | 1 0 1 1 1 1 1
   _
 | _
 | _ |

0 1 1 1 | 1 1 1 0 0 0 0
   _
     |
     |

1 0 0 0 | 1 1 1 1 1 1 1
   _
 | _ |
 | _ |

1 0 0 1 | 1 1 1 1 0 1 1
   _
 | _ |
   _ |

1 0 1 0 | 1 1 0 1 1 1 1
   _
 | _ |
 | _

1 0 1 1 | 1 1 1 1 0 1 1
   _
 | _ |
   _ |

1 1 0 0 | 1 1 1 1 0 1 1
   _
 | _ |
   _ |

1 1 0 1 | 1 0 1 1 0 1 1
   _
 | _
   _ |

1 1 1 0 | 1 0 1 1 1 1 1
   _
 | _
 | _ |

1 1 1 1 | 1 1 1 1 0 1 1
   _
 | _ |
   _ |

# $$\text{BCD to Hex-Decimal : 7 Segment LED Display Decoder}$$

<p align="center">
  <img src="img/complete-7-segment-HEX-decoder.png" alt="drawing" width="3000" height="3500" align="left"/>
</p>

<p align="center">
  <img src="img/7-segment-decoder-truth-table.png" alt="drawing" width="500" height="900" align="left"/>
</p>

**K-map implementation**
<p align="left">
  <img src="img/segment-a-k-map-1.png" alt="drawing" width="250" height="100" align="left"/>
</p>

$a(A,B,C,D)=\sum (0,2,3,5,6,7,8,9,10,12,14,15)$

$a=AB'C'+A'BD+AD'+A'C+BC+B'D'$

<p align="left">
  <img src="img/segment-b-k-map-1-300x295.jpg" alt="drawing" width="240" height="100" align="left"/>
</p>
$b(A,B,C,D)=\sum (0,1,2,3,4,7,8,9,10,13)$

$b=A'C'D'+A'CD+AC'D+B'C'+B'D'$

<p align="center">
  <img src="img/segment-c-k-map.jpg" alt="drawing" width="240" height="100" align="left"/>
</p>
$c(A,B,C,D)=\sum (0,1,3,4,5,6,7,8,9,10,11,13)$

$c=A'C'+A'D+C'D+A'B+AB'$

<p align="right">
  <img src="img/segment-d-k-map.jpg" alt="drawing" width="240" height="100" align="left"/>
</p>
$d(A,B,C,D)=\sum (0,2,3,5,6,7,8,9,11,12,13,14)$

$d=A'B'D'+B'CD+BC'D+BCD'+AC'$

<p align="center">
  <img src="img/segment-e-k-map.jpg" alt="drawing" width="250" height="100" align="left"/>
</p>
$e(A,B,C,D)=\sum (0,2,6,8,10,11,12,13,14,15)$

$e=B'D'+CD'+AC+AB$

<p align="center">
  <img src="img/segment-f-k-map.jpg" alt="drawing" width="240" height="100" align="left"/>
</p>    
$f(A,B,C,D)=\sum (0,4,5,6,8,9,10,11,12,14,15)$

$f=A'BC'+C'D'+BD'+AB'+AC$

<p align="right">
  <img src="img/segment-g-k-map.jpg" alt="drawing" width="240" height="100" align="left"/>
</p>
$g(A,B,C,D)=\sum (2,3,4,5,6,8,9,10,11,13,14,15)$

$g=A'BC'+B'C+CD'+AB'+AD$

In [41]:
def BCD_7segment_hex(p,q,r,s):
    A,B,C,D=p,q,r,s
    # N
    nA=NOT(A)  # A'
    nB=NOT(B)  # B'                      
    nC=NOT(C)  # C'
    nD=NOT(D)  # D'
    
    a= OR(OR(OR(OR(AND(nA,AND(B,D)),AND(A,AND(nB,nC))),OR(AND(nA,C),AND(B,C))),AND(nB,nD)),AND(A,nD))
    b= OR(OR(OR(OR(AND(nA,AND(nC,nD)),AND(nA,AND(C,D))),AND(A,AND(nC,D))),AND(nB,nC)),AND(nB,nD))
    c= OR(OR(OR(OR(AND(nA,nC),AND(nA,D)),AND(nC,D)),AND(nA,B)),AND(A,nB))
    d= OR(OR(OR(OR(AND(nA,AND(nB,nD)),AND(nB,AND(C,D))),AND(B,AND(nC,D))),AND(B,AND(C,nD))),AND(A,nC))
    e= OR(OR(OR(AND(nB,nD),AND(C,nD)),AND(A,C)),AND(A,B))
    f= OR(OR(OR(OR(AND(nA,AND(B,nC)),AND(nC,nD)),AND(B,nD)),AND(A,nB)),AND(A,C))
    g= OR(OR(OR(OR(AND(nA,AND(B,nC)),AND(nB,C)),AND(C,nD)),AND(A,nB)),AND(A,D))
    return a,b,c,d,e,f,g

In [63]:
print('A','B','C','D','|','a','b','c','d','e','f','g')
for w,x,y,z in zip(P,Q,R,S):
    a,b,c,d,e,f,g=BCD_7segment_hex(w,x,y,z)
    print(w,x,y,z,'|',a,b,c,d,e,f,g)
    print(display_7_segment(a,b,c,d,e,f,g))
    print('')

A B C D | a b c d e f g
0 0 0 0 | 1 1 1 1 1 1 0
   _
 |   |
 | _ |


0 0 0 1 | 0 1 1 0 0 0 0

     |
     |


0 0 1 0 | 1 1 0 1 1 0 1
   _
   _ |
 | _


0 0 1 1 | 1 1 1 1 0 0 1
   _
   _ |
   _ |


0 1 0 0 | 0 1 1 0 0 1 1

 | _ |
     |


0 1 0 1 | 1 0 1 1 0 1 1
   _
 | _
   _ |


0 1 1 0 | 1 0 1 1 1 1 1
   _
 | _
 | _ |


0 1 1 1 | 1 1 1 0 0 0 0
   _
     |
     |


1 0 0 0 | 1 1 1 1 1 1 1
   _
 | _ |
 | _ |


1 0 0 1 | 1 1 1 1 0 1 1
   _
 | _ |
   _ |


1 0 1 0 | 1 1 1 0 1 1 1
   _
 | _ |
 |   |


1 0 1 1 | 0 0 1 1 1 1 1

 | _
 | _ |


1 1 0 0 | 1 0 0 1 1 1 0
   _
 |
 | _


1 1 0 1 | 0 1 1 1 1 0 1

   _ |
 | _ |


1 1 1 0 | 1 0 0 1 1 1 1
   _
 | _
 | _


1 1 1 1 | 1 0 0 0 1 1 1
   _
 | _
 |

In [43]:
Ak,Bk,Ck,Dk,ak,bk,ck,dk,ek,fk,gk=[],[],[],[],[],[],[],[],[],[],[]
for w,x,y,z in zip(P,Q,R,S):
    a,b,c,d,e,f,g=BCD_7segment_hex(w,x,y,z)
    Ak.append(w)
    Bk.append(x)
    Ck.append(y)
    Dk.append(z)
    ak.append(a)
    bk.append(b)
    ck.append(c)
    dk.append(d)
    ek.append(e)
    fk.append(f)
    gk.append(g)

pd.DataFrame({
    '$A$':Ak,
    '$B$':Bk,
    '$C$':Ck,
    '$a$':ak,
    '$b$':bk,
    '$c$':ck,
    '$d$':dk,
    '$e$':ek,
    '$f$':fk,
    '$g$':gk} )

    $A$  $B$  $C$  $a$  $b$  $c$  $d$  $e$  $f$  $g$
0     0    0    0    1    1    1    1    1    1    0
1     0    0    0    0    1    1    0    0    0    0
2     0    0    1    1    1    0    1    1    0    1
3     0    0    1    1    1    1    1    0    0    1
4     0    1    0    0    1    1    0    0    1    1
5     0    1    0    1    0    1    1    0    1    1
6     0    1    1    1    0    1    1    1    1    1
7     0    1    1    1    1    1    0    0    0    0
8     1    0    0    1    1    1    1    1    1    1
9     1    0    0    1    1    1    1    0    1    1
10    1    0    1    1    1    1    0    1    1    1
11    1    0    1    0    0    1    1    1    1    1
12    1    1    0    1    0    0    1    1    1    0
13    1    1    0    0    1    1    1    1    0    1
14    1    1    1    1    0    0    1    1    1    1
15    1    1    1    1    0    0    0    1    1    1

<p align="center">
  <img src="img/Screenshot%20(2).png" alt="drawing" width="500" height="400" align="center"/>
</p>

In [44]:
def BCD_excess3_converter(a,b,c,d):
    N1=NOT(b)
    N2=NOT(d)          # z
    A1=AND(c,d)        
    O1=OR(c,d)
    N3=NOT(O1)
    O2=OR(A1,N3)      # y
    A2=AND(N3,b)
    A3=AND(O1,N1)
    A4=AND(O1,b)
    O3=OR(A2,A3)      # x
    O4=OR(A4,a)       # w
    return O4,O3,O2,N2

In [45]:
print('A','B','C','D','|','W','X','Y','Z','|','a','b','c','d','e','f','g')
for a,b,c,d in zip(P,Q,R,S):
    w,x,y,z=BCD_excess3_converter(a,b,c,d)
    
    a,b,c,d,e,f,g=BCD_7segment_hex(w,x,y,z)
    print(a,b,c,d,'|',w,x,y,z,'|',a,b,c,d,e,f,g)
    print(display_7_segment(a,b,c,d,e,f,g))

A B C D | W X Y Z | a b c d e f g
1 1 1 1 | 0 0 1 1 | 1 1 1 1 0 0 1
   _
   _ |
   _ |

0 1 1 0 | 0 1 0 0 | 0 1 1 0 0 1 1

 | _ |
     |

1 0 1 1 | 0 1 0 1 | 1 0 1 1 0 1 1
   _
 | _
   _ |

1 0 1 1 | 0 1 1 0 | 1 0 1 1 1 1 1
   _
 | _
 | _ |

1 1 1 0 | 0 1 1 1 | 1 1 1 0 0 0 0
   _
     |
     |

1 1 1 1 | 1 0 0 0 | 1 1 1 1 1 1 1
   _
 | _ |
 | _ |

1 1 1 1 | 1 0 0 1 | 1 1 1 1 0 1 1
   _
 | _ |
   _ |

1 1 1 0 | 1 0 1 0 | 1 1 1 0 1 1 1
   _
 | _ |
 |   |

0 0 1 1 | 1 0 1 1 | 0 0 1 1 1 1 1

 | _
 | _ |

1 0 0 1 | 1 1 0 0 | 1 0 0 1 1 1 0
   _
 |
 | _

0 1 1 1 | 1 1 0 1 | 0 1 1 1 1 0 1

   _ |
 | _ |

1 0 0 1 | 1 1 1 0 | 1 0 0 1 1 1 1
   _
 | _
 | _

1 0 0 0 | 1 1 1 1 | 1 0 0 0 1 1 1
   _
 | _
 |

1 1 1 1 | 1 0 0 0 | 1 1 1 1 1 1 1
   _
 | _ |
 | _ |

1 1 1 1 | 1 0 0 1 | 1 1 1 1 0 1 1
   _
 | _ |
   _ |

1 1 1 0 | 1 0 1 0 | 1 1 1 0 1 1 1
   _
 | _ |
 |   |

# $$\text{Implementation of a full-adder with a decoder}$$
<p align="center">
  <img src="img/Screenshot%20(5).png" alt="drawing" width="600" height="600" align="center"/>
</p>

In [46]:
def decoder_fullAdder(D0,D1,D2,D3,D4,D5,D6,D7):
    #OR
    S=OR(OR(D1,D2),OR(D4,D7))
    C=OR(OR(D3,D5),OR(D6,D7))
    return S,C

In [47]:
print('x','y','z','|','D0','D1','D2','D3','D4','D5','D6','D7','|','S','C')
for x,y,z in zip(X,Y,Z):
    D0,D1,D2,D3,D4,D5,D6,D7=decoder3_8(x,y,z)
    S,C=decoder_fullAdder(D0,D1,D2,D3,D4,D5,D6,D7)
    print(x,y,z,'| ',D0,'',D1,'',D2,'',D3,'',D4,'',D5,'',D6,'',D7,'|',S,C)

x y z | D0 D1 D2 D3 D4 D5 D6 D7 | S C
0 0 0 |  1  0  0  0  0  0  0  0 | 0 0
0 0 1 |  0  1  0  0  0  0  0  0 | 1 0
0 1 0 |  0  0  1  0  0  0  0  0 | 1 0
0 1 1 |  0  0  0  1  0  0  0  0 | 0 1
1 0 0 |  0  0  0  0  1  0  0  0 | 1 0
1 0 1 |  0  0  0  0  0  1  0  0 | 0 1
1 1 0 |  0  0  0  0  0  0  1  0 | 0 1
1 1 1 |  0  0  0  0  0  0  0  1 | 1 1

In [48]:
aea,bea,cea,D0a,D1a,D2a,D3a,D4a,D5a,D6a,D7a,Sa,Ca=[],[],[],[],[],[],[],[],[],[],[],[],[]
for x,y,z in zip(X,Y,Z):
    D0,D1,D2,D3,D4,D5,D6,D7=decoder3_8(x,y,z)
    S,C=decoder_fullAdder(D0,D1,D2,D3,D4,D5,D6,D7)
    aea.append(x)
    bea.append(y)
    cea.append(z)
    D0a.append(D0)
    D1a.append(D1)
    D2a.append(D2)
    D3a.append(D3)
    D4a.append(D4)
    D5a.append(D5)
    D6a.append(D6)
    D7a.append(D7)
    Sa.append(S)
    Ca.append(C)
    
pd.DataFrame({
    '$a$':aea,
    '$b$':bea,
    '$c_{in}$':cea,
    '$D_0$':D0a,
    '$D_1$':D1a,
    '$D_2$':D2a,
    '$D_3$':D3a,
    '$D_4$':D4a,
    '$D_5$':D5a,
    '$D_6$':D6a,
    '$D_7$':D7a,
    '$S$':Sa,
    '$C_{out}$':Ca
     } )

,$a$,$b$,$c_{in}$,$D_0$,$D_1$,$D_2$,$D_3$,$D_4$,$D_5$,$D_6$,$D_7$,$S$,$C_{out}$
0,0,0,0,1,0,0,0,0,0,0,0,0,0
1,0,0,1,0,1,0,0,0,0,0,0,1,0
2,0,1,0,0,0,1,0,0,0,0,0,1,0
3,0,1,1,0,0,0,1,0,0,0,0,0,1
4,1,0,0,0,0,0,0,1,0,0,0,1,0
5,1,0,1,0,0,0,0,0,1,0,0,0,1
6,1,1,0,0,0,0,0,0,0,1,0,0,1
7,1,1,1,0,0,0,0,0,0,0,1,1,1

# $$\text{Octal-to-binary encoder}$$
<p align="center">
  <img src="img/Screenshot%20(7).png" alt="drawing" width="600" height="600" align="center"/>
</p>

In [49]:
def Encoder_OctaltoBinary(D0,D1,D2,D3,D4,D5,D6,D7):
    #OR
    x=OR(OR(D4,D5),OR(D6,D7))
    y=OR(OR(D2,D3),OR(D6,D7))
    z=OR(OR(D1,D3),OR(D5,D7))
    return x,y,z

In [50]:
print('x','y','z','|','D0','D1','D2','D3','D4','D5','D6','D7','|','X','Y','Z')
for x,y,z in zip(X,Y,Z):
    D0,D1,D2,D3,D4,D5,D6,D7=decoder3_8(x,y,z)
    x1,y1,z1=Encoder_OctaltoBinary(D0,D1,D2,D3,D4,D5,D6,D7)
    print(x,y,z,'| ',D0,'',D1,'',D2,'',D3,'',D4,'',D5,'',D6,'',D7,'|',x1,y1,z1)

x y z | D0 D1 D2 D3 D4 D5 D6 D7 | X Y Z
0 0 0 |  1  0  0  0  0  0  0  0 | 0 0 0
0 0 1 |  0  1  0  0  0  0  0  0 | 0 0 1
0 1 0 |  0  0  1  0  0  0  0  0 | 0 1 0
0 1 1 |  0  0  0  1  0  0  0  0 | 0 1 1
1 0 0 |  0  0  0  0  1  0  0  0 | 1 0 0
1 0 1 |  0  0  0  0  0  1  0  0 | 1 0 1
1 1 0 |  0  0  0  0  0  0  1  0 | 1 1 0
1 1 1 |  0  0  0  0  0  0  0  1 | 1 1 1

In [51]:
xe,ye,ze,D0e,D1e,D2e,D3e,D4e,D5e,D6e,D7e,Xe,Ye,Ze=[],[],[],[],[],[],[],[],[],[],[],[],[],[]
for x,y,z in zip(X,Y,Z):
    D0,D1,D2,D3,D4,D5,D6,D7=decoder3_8(x,y,z)
    x1,y1,z1=Encoder_OctaltoBinary(D0,D1,D2,D3,D4,D5,D6,D7)
    xe.append(x)
    ye.append(y)
    ze.append(z)
    D0e.append(D0)
    D1e.append(D1)
    D2e.append(D2)
    D3e.append(D3)
    D4e.append(D4)
    D5e.append(D5)
    D6e.append(D6)
    D7e.append(D7)
    Xe.append(x1)
    Ye.append(y1)
    Ze.append(z1)
    
pd.DataFrame({
    'x':xe,
    'y':ye,
    'z':ze,
    '$D_0$':D0e,
    '$D_1$':D1e,
    '$D_2$':D2e,
    '$D_3$':D3e,
    '$D_4$':D4e,
    '$D_5$':D5e,
    '$D_6$':D6e,
    '$D_7$':D7e,
    'X':Xe,
    'Y':Ye,
    'Z':Ze,
     } )

   x  y  z  $D_0$  $D_1$  $D_2$  $D_3$  $D_4$  $D_5$  $D_6$  $D_7$  X  Y  Z
0  0  0  0      1      0      0      0      0      0      0      0  0  0  0
1  0  0  1      0      1      0      0      0      0      0      0  0  0  1
2  0  1  0      0      0      1      0      0      0      0      0  0  1  0
3  0  1  1      0      0      0      1      0      0      0      0  0  1  1
4  1  0  0      0      0      0      0      1      0      0      0  1  0  0
5  1  0  1      0      0      0      0      0      1      0      0  1  0  1
6  1  1  0      0      0      0      0      0      0      1      0  1  1  0
7  1  1  1      0      0      0      0      0      0      0      1  1  1  1

# $$\text{2-to-4 line decoder with enable (E) input}$$
<p align="center">
  <img src="img/Screenshot%20(8).png" alt="drawing" width="600" height="600" align="center"/>
</p>

In [52]:
def decoder2to4(a,b,E):
    #NOT
    n1=NOT(a)
    n2=NOT(b)
    n3=NOT(E)
    #NAND
    A1=NOT(AND(AND(n1,n2),n3)) #D0
    A2=NOT(AND(AND(n1,b),n3))  #D1
    A3=NOT(AND(AND(a,n2),n3))  #D2
    A4=NOT(AND(AND(a,b),n3))   #D3
    return A1,A2,A3,A4

In [53]:
print('E','A','B','|','D0','D1','D2','D3')

for E in [0,1]:
    for a,b in zip(A,B):
        D0,D1,D2,D3=decoder2to4(a,b,E)
        print(E,a,b,'|',D0,'',D1,'',D2,'',D3)

E A B | D0 D1 D2 D3
0 0 0 | 0  1  1  1
0 0 1 | 1  0  1  1
0 1 0 | 1  1  0  1
0 1 1 | 1  1  1  0
1 0 0 | 1  1  1  1
1 0 1 | 1  1  1  1
1 1 0 | 1  1  1  1
1 1 1 | 1  1  1  1

In [54]:
Ed,ad,bd,D0d,D1d,D2d,D3d=[],[],[],[],[],[],[]
for E in [0,1]:
    for a,b in zip(A,B):
        D0,D1,D2,D3=decoder2to4(a,b,E)
        Ed.append(E)
        ad.append(a)
        bd.append(b)
        D0d.append(D0)
        D1d.append(D1)
        D2d.append(D2)
        D3d.append(D3)
        
dE=pd.DataFrame({
    'E':Ed,
    'a':ad,
    'b':bd,
    '$D_0$':D0d,
    '$D_1$':D1d,
    '$D_2$':D2d,
    '$D_3$':D3d} )   

def highlight_hihg_E_1(s):
    if s.E == 1.0:                      # checking for Y==1
        return ['background-color: yellow']*7  # 7 -> no. of columns
    else:
        return ['background-color: white']*7


dE.style.apply(highlight_hihg_E_1,axis=1)

# $$\text{4-to-1 line multiplexer}$$
<p align="center">
  <img src="img/Screenshot%20(9).png" alt="drawing" width="600" height="600" align="center"/>
</p>

In [55]:
def multiplexer4to1(I0,I1,I2,I3,S0,S1):
    #NOT
    n1=NOT(S0)
    n2=NOT(S1)
    #AND
    A1=AND(AND(n1,n2),I0)
    A2=AND(AND(S0,n2),I1)
    A3=AND(AND(n1,S1),I2)
    A4=AND(AND(S0,S1),I3)
    #OR
    Y=OR(OR(A1,A2),OR(A3,A4))
    return Y

In [56]:
I=([0,0,0,0],
   [0,0,0,1],
   [0,0,1,0],
   [0,1,0,0],
   [1,0,0,0])

print('I0','I1','I2','I3','S0','S1','|','Y')
for I0,I1,I2,I3 in (I):
    for S0,S1 in zip(A,B):
        Y= multiplexer4to1(I0,I1,I2,I3,S0,S1)
        print(I0,'',I1,'',I2,'',I3,'',S0,'',S1,' |',Y)

I0 I1 I2 I3 S0 S1 | Y
0  0  0  0  0  0  | 0
0  0  0  0  0  1  | 0
0  0  0  0  1  0  | 0
0  0  0  0  1  1  | 0
0  0  0  1  0  0  | 0
0  0  0  1  0  1  | 0
0  0  0  1  1  0  | 0
0  0  0  1  1  1  | 1
0  0  1  0  0  0  | 0
0  0  1  0  0  1  | 1
0  0  1  0  1  0  | 0
0  0  1  0  1  1  | 0
0  1  0  0  0  0  | 0
0  1  0  0  0  1  | 0
0  1  0  0  1  0  | 1
0  1  0  0  1  1  | 0
1  0  0  0  0  0  | 1
1  0  0  0  0  1  | 0
1  0  0  0  1  0  | 0
1  0  0  0  1  1  | 0

In [57]:
I=([0,0,0,0],
   [0,0,0,1],
   [0,0,1,0],
   [0,1,0,0],
   [1,0,0,0])

I01,I11,I21,I31,S01,S11,Y=[],[],[],[],[],[],[]
for I0,I1,I2,I3 in (I):
    for S0,S1 in zip(A,B):
        I01.append(I0)
        I11.append(I1)
        I21.append(I2)
        I31.append(I3)
        S01.append(S0)
        S11.append(S1)
        Y.append(multiplexer4to1(I0,I1,I2,I3,S0,S1))
        
df=pd.DataFrame({
    '$I_0$':I01,
    '$I_1$':I11,
    '$I_2$':I21,
    '$I_3$':I31,
    '$S_0$':S01,
    '$S_1$':S11,
    'Y':Y      })        

def highlight_greaterthan_0(s):
    if s.Y == 1.0:                      # checking for Y==1
        return ['background-color: lightgreen']*7
    else:
        return ['background-color: white']*7


df.style.apply(highlight_greaterthan_0,axis=1)

In [58]:
print('I0','I1','I2','I3','S0','S1','|','Y')
P=[0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1]
Q=[0,0,0,0,1,1,1,1,0,0,0,0,1,1,1,1]
R=[0,0,1,1,0,0,1,1,0,0,1,1,0,0,1,1]
S=[0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1]
for I0,I1,I2,I3 in zip(P,Q,R,S):
    for S0,S1 in zip(A,B):
        Y= multiplexer4to1(I0,I1,I2,I3,S0,S1)
        if (I0==1)&(Y==1): 
            s='I0'
        elif (I1==1)&(Y==1): 
            s='I1'
        elif (I2==1)&(Y==1): 
            s='I2'
        elif (I3==1)&(Y==1): 
            s='I3'
        else: 
            s=''
        print(I0,'',I1,'',I2,'',I3,'',S0,'',S1,' |',Y,s)

I0 I1 I2 I3 S0 S1 | Y
0  0  0  0  0  0  | 0
0  0  0  0  0  1  | 0
0  0  0  0  1  0  | 0
0  0  0  0  1  1  | 0
0  0  0  1  0  0  | 0
0  0  0  1  0  1  | 0
0  0  0  1  1  0  | 0
0  0  0  1  1  1  | 1 I3
0  0  1  0  0  0  | 0
0  0  1  0  0  1  | 1 I2
0  0  1  0  1  0  | 0
0  0  1  0  1  1  | 0
0  0  1  1  0  0  | 0
0  0  1  1  0  1  | 1 I2
0  0  1  1  1  0  | 0
0  0  1  1  1  1  | 1 I2
0  1  0  0  0  0  | 0
0  1  0  0  0  1  | 0
0  1  0  0  1  0  | 1 I1
0  1  0  0  1  1  | 0
0  1  0  1  0  0  | 0
0  1  0  1  0  1  | 0
0  1  0  1  1  0  | 1 I1
0  1  0  1  1  1  | 1 I1
0  1  1  0  0  0  | 0
0  1  1  0  0  1  | 1 I1
0  1  1  0  1  0  | 1 I1
0  1  1  0  1  1  | 0
0  1  1  1  0  0  | 0
0  1  1  1  0  1  | 1 I1
0  1  1  1  1  0  | 1 I1
0  1  1  1  1  1  | 1 I1
1  0  0  0  0  0  | 1 I0
1  0  0  0  0  1  | 0
1  0  0  0  1  0  | 0
1  0  0  0  1  1  | 0
1  0  0  1  0  0  | 1 I0
1  0  0  1  0  1  | 0
1  0  0  1  1  0  | 0
1  0  0  1  1  1  | 1 I0
1  0  1  0  0  0  | 1 I0
1  0  1  0  0  1  | 1 I0
1  0  1  0  1  0  | 0
1  0  1  0  1  1  | 0
1  0  1  1  0  0  | 1 I0
1  0  1  1  0  1  | 1 I0
1  0  1  1  1  0  | 0
1  0  1  1  1  1  | 1 I0
1  1  0  0  0  0  | 1 I0
1  1  0  0  0  1  | 0
1  1  0  0  1  0  | 1 I0
1  1  0  0  1  1  | 0
1  1  0  1  0  0  | 1 I0
1  1  0  1  0  1  | 0
1  1  0  1  1  0  | 1 I0
1  1  0  1  1  1  | 1 I0
1  1  1  0  0  0  | 1 I0
1  1  1  0  0  1  | 1 I0
1  1  1  0  1  0  | 1 I0
1  1  1  0  1  1  | 0
1  1  1  1  0  0  | 1 I0
1  1  1  1  0  1  | 1 I0
1  1  1  1  1  0  | 1 I0
1  1  1  1  1  1  | 1 I0

In [59]:
I01,I11,I21,I31,S01,S11,Y,Ind=[],[],[],[],[],[],[],[]
for I0,I1,I2,I3 in zip(P,Q,R,S):
    for S0,S1 in zip(A,B):
        y=multiplexer4to1(I0,I1,I2,I3,S0,S1)
        I01.append(I0)
        I11.append(I1)
        I21.append(I2)
        I31.append(I3)
        S01.append(S0)
        S11.append(S1)
        Y.append(y)
        if (I3==1)&(y==1): 
            s='$I_3$'
        elif (I2==1)&(y==1): 
            s='$I_2$'
        elif (I1==1)&(y==1): 
            s='$I_1$'
        elif (I0==1)&(y==1): 
            s='$I_0$'
        else: 
            s=''
        Ind.append(s)
        
df=pd.DataFrame({
    '$I_0$':I01,
    '$I_1$':I11,
    '$I_2$':I21,
    '$I_3$':I31,
    '$S_0$':S01,
    '$S_1$':S11,
    'Y':Y,     
    'Index':Ind} )        

def highlight_greaterthan_0(s):
    if s.Y == 1.0:                      # checking for Y==1
        return ['background-color: lightgreen']*8   # 8 -> no. of columns
    else:
        return ['background-color: white']*8


df.style.apply(highlight_greaterthan_0,axis=1)