In [1]:
import pandas as pd

In [2]:
def display_7_segment(a,b,c,d,e,f,g):
    if a==1:
        a = "1"
        a = a.replace(a, "_" )
    elif a==0:
        a = "0"
        a = a.replace(a, " ")
    if b==1:
        b = "1"
        b = b.replace(b, "|" )
    elif b==0:
        b = "0"
        b = b.replace(b, " ")
    if c==1:
        c = "1"
        c = c.replace(c, "|" )
    elif c==0:
        c = "0"
        c = c.replace(c, " ")
    if d==1:
        d = "1"
        d = d.replace(d, "_" )
    elif d==0:
        d = "0"
        d = d.replace(d, " ")
    if e==1:
        e = "1"
        e = e.replace(e, "|" )
    elif e==0:
        e = "0"
        e = e.replace(e, " ")
    if f==1:
        f = "1"
        f = f.replace(f, "|" )
    elif f==0:
        f = "0"
        f = f.replace(f, " ")
    if g==1:
        g = "1"
        g = g.replace(g, "_" )
    elif g==0:
        g = "0"
        g = g.replace(g, " ")
        
    print('\t\t\t\t\t  ',a,"\n\t\t\t\t\t",f,g,b,"\n\t\t\t\t\t",e,d,c)
    return '',a,'\n',f,g,b,'\n',e,d,c
s=display_7_segment(1,1,1,1,1,1,1)
display(s)

					   _
					 | _ |
					 | _ |

('', '_', '\n', '|', '_', '|', '\n', '|', '_', '|')

In [3]:
def NOT(a):
    if a==1: return 0
    else : return 1

In [4]:
def AND(a,b):
    if (a==1)&(b==1): return 1
    else : return 0

In [5]:
def OR(a,b):
    if (a==1)|(b==1): return 1
    else : return 0

In [6]:
def BChexD_7segment(p,q,r,s):
    A,B,C,D=p,q,r,s
    # N
    nA=NOT(A)  # A'
    nB=NOT(B)  # B'                      
    nC=NOT(C)  # C'
    nD=NOT(D)  # D'
    
    a= OR(OR(OR(OR(AND(nA,AND(B,D)),AND(A,AND(nB,nC))),OR(AND(nA,C),AND(B,C))),AND(nB,nD)),AND(A,nD))
    b= OR(OR(OR(OR(AND(nA,AND(nC,nD)),AND(nA,AND(C,D))),AND(A,AND(nC,D))),AND(nB,nC)),AND(nB,nD))
    c= OR(OR(OR(OR(AND(nA,nC),AND(nA,D)),AND(nC,D)),AND(nA,B)),AND(A,nB))
    d= OR(OR(OR(OR(AND(nA,AND(nB,nD)),AND(nB,AND(C,D))),AND(B,AND(nC,D))),AND(B,AND(C,nD))),AND(A,nC))
    e= OR(OR(OR(AND(nB,nD),AND(C,nD)),AND(A,C)),AND(A,B))
    f= OR(OR(OR(OR(AND(nA,AND(B,nC)),AND(nC,nD)),AND(B,nD)),AND(A,nB)),AND(A,C))
    g= OR(OR(OR(OR(AND(nA,AND(B,nC)),AND(nB,C)),AND(C,nD)),AND(A,nB)),AND(A,D))
    return a,b,c,d,e,f,g

In [7]:
P1=[0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1]
Q1=[0,0,0,0,1,1,1,1,0,0,0,0,1,1,1,1]
R1=[0,0,1,1,0,0,1,1,0,0,1,1,0,0,1,1]
S1=[0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1]

In [9]:
A,B,C,D,E,F,G,dis=[],[],[],[],[],[],[],[]
for w,x,y,z in zip(P1,Q1,R1,S1):
    a,b,c,d,e,f,g=BChexD_7segment(w,x,y,z)
    A.append(a)
    B.append(b)
    C.append(c)
    D.append(d)
    E.append(e)
    F.append(f)
    G.append(g)
    dis.append(display_7_segment(a,b,c,d,e,f,g))
pd.DataFrame({'A':P1,'B':Q1,'C':R1,'D':S1,'a':A,'b':B,'c':C,'d':D,'e':E,'f':F,'g':G,'Display':dis})

					   _
					 |   |
					 | _ |

					     |
					     |
					   _
					   _ |
					 | _
					   _
					   _ |
					   _ |

					 | _ |
					     |
					   _
					 | _
					   _ |
					   _
					 | _
					 | _ |
					   _
					     |
					     |
					   _
					 | _ |
					 | _ |
					   _
					 | _ |
					   _ |
					   _
					 | _ |
					 |   |

					 | _
					 | _ |
					   _
					 |
					 | _

					   _ |
					 | _ |
					   _
					 | _
					 | _
					   _
					 | _
					 |

    A  B  C  D  a  b  c  d  e  f  g                          Display
0   0  0  0  0  1  1  1  1  1  1  0  (, _, \n, |,  , |, \n, |, _, |)
1   0  0  0  1  0  1  1  0  0  0  0  (,  , \n,  ,  , |, \n,  ,  , |)
2   0  0  1  0  1  1  0  1  1  0  1  (, _, \n,  , _, |, \n, |, _,  )
3   0  0  1  1  1  1  1  1  0  0  1  (, _, \n,  , _, |, \n,  , _, |)
4   0  1  0  0  0  1  1  0  0  1  1  (,  , \n, |, _, |, \n,  ,  , |)
5   0  1  0  1  1  0  1  1  0  1  1  (, _, \n, |, _,  , \n,  , _, |)
6   0  1  1  0  1  0  1  1  1  1  1  (, _, \n, |, _,  , \n, |, _, |)
7   0  1  1  1  1  1  1  0  0  0  0  (, _, \n,  ,  , |, \n,  ,  , |)
8   1  0  0  0  1  1  1  1  1  1  1  (, _, \n, |, _, |, \n, |, _, |)
9   1  0  0  1  1  1  1  1  0  1  1  (, _, \n, |, _, |, \n,  , _, |)
10  1  0  1  0  1  1  1  0  1  1  1  (, _, \n, |, _, |, \n, |,  , |)
11  1  0  1  1  0  0  1  1  1  1  1  (,  , \n, |, _,  , \n, |, _, |)
12  1  1  0  0  1  0  0  1  1  1  0  (, _, \n, |,  ,  , \n, |, _,  )
13  1  1  0  1  0  1  1  1  1  0  1  (,  , \n,  , _, |, \n, |, _, |)
14  1  1  1  0  1  0  0  1  1  1  1  (, _, \n, |, _,  , \n, |, _,  )
15  1  1  1  1  1  0  0  0  1  1  1  (, _, \n, |, _,  , \n, |,  ,  )