### $\text{Logic NOT}$

In [1]:
def NOT(a):
    if a==1: return 0
    else : return 1

### $\text{Logic AND}$

In [2]:
def AND(a,b):
    if (a==1)&(b==1): return 1
    else : return 0

### $\text{Logic OR}$

In [3]:
def OR(a,b):
    if (a==1)|(b==1): return 1
    else : return 0

### $\text{Logic NAND}$

In [4]:
def NAND(a,b):
    if (a==1)&(b==1): return 0
    else : return 1

### $\text{Logic NOR}$

In [5]:
def NOR(a,b):
    if (a==1)|(b==1): return 0
    else : return 1

### $\text{Logic Exclusive-OR}$

In [6]:
def XOR(a,b):
    if a==b: return 0
    else : return 1

### $\text{Logic Exclusive-NOR}$

In [7]:
def XNOR(a,b):
    if a==b: return 1
    else : return 0

In [8]:
A=[0,0,1,1]
B=[0,1,0,1]

X1=[0,0,0,0,1,1,1,1]
Y1=[0,0,1,1,0,0,1,1]
Z1=[0,1,0,1,0,1,0,1]


P1=[0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1]
Q1=[0,0,0,0,1,1,1,1,0,0,0,0,1,1,1,1]
R1=[0,0,1,1,0,0,1,1,0,0,1,1,0,0,1,1]
S1=[0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1]

In [9]:
print('Input','|\t','Output')
print(' 𝑎','𝑏',' |','𝑎̃ ','𝑏̃ ','𝑎⋅𝑏 ','𝑎+𝑏','𝑎↑𝑏 ','𝑎↓𝑏 ','𝑎⊕𝑏','𝑎⊙𝑏')
for a,b in zip(A,B):
    an=NOT(a)
    bn=NOT(b)
    A1=AND(a,b)
    O=OR(a,b)
    An=NAND(a,b)
    On=NOR(a,b)
    X=XOR(a,b)
    Xn=XNOR(a,b)
    print('',a,b,' |',an,'',bn,' ',A1,'  ',O,' ',An,'  ',On,'  ',X,'  ',Xn)

Input |	 Output
 𝑎 𝑏  | 𝑎̃  𝑏̃  𝑎⋅𝑏  𝑎+𝑏 𝑎↑𝑏  𝑎↓𝑏  𝑎⊕𝑏 𝑎⊙𝑏
 0 0  | 1  1   0    0   1    1    0    1
 0 1  | 1  0   0    1   1    0    1    0
 1 0  | 0  1   0    1   1    0    1    0
 1 1  | 0  0   1    1   0    0    0    1

#### Checking the computed function with the analytic NAND Logic
<img width="300" align="left" src="https://spinningnumbers.org/i/logic13.svg">
<img width="140" align="left" src="https://spinningnumbers.org/i/logic_tt_NAND.svg">

In [10]:
f=0
print('Input','|\t','Output')
print(' a','b ','|','  a⋅b',' a↑b_(cal)',' a↑b_(anl)')
for a,b in zip(A,B):
    print('',a,b,' |\t  ',AND(a,b),'\t',NOT(AND(a,b)),'\t ',NAND(a,b))
    if NOT(AND(a,b))==NAND(a,b):        f+=1
        
if f==len(A):
    print('\nLHS==RHS')

Input |	 Output
 a b  |   a⋅b  a↑b_(cal)  a↑b_(anl)
 0 0  |	   0 	 1 	  1
 0 1  |	   0 	 1 	  1
 1 0  |	   0 	 1 	  1
 1 1  |	   1 	 0 	  0

LHS==RHS

#### Checking the computed function with the analytic NOR Logic
<img width="300" align="left"  src="https://spinningnumbers.org/i/logic14.svg"><img width="140" align="left" src="https://spinningnumbers.org/i/logic_tt_NOR.svg">

In [11]:
f=0
print('Input','|\t','Output')
print(' a',' b |','a+b','a↓b_(cal)','a↓b_(anl)')
for a,b in zip(A,B):
    print('',a,'',b,'| ',OR(a,b),'\t',NOT(OR(a,b)),'\t',NOR(a,b))
    if NOT(OR(a,b))==NOR(a,b):        f+=1
        
if f==len(A):
    print('\nLHS==RHS')

Input |	 Output
 a  b | a+b a↓b_(cal) a↓b_(anl)
 0  0 |  0 	 1 	 1
 0  1 |  1 	 0 	 0
 1  0 |  1 	 0 	 0
 1  1 |  1 	 0 	 0

LHS==RHS

**XOR**

<img width="250" align="left" src="https://spinningnumbers.org/i/logic13.svg">
<img width="300" align="left" src="https://upload.wikimedia.org/wikipedia/commons/e/ed/3_gate_XOR.svg">

**XNOR**

<img width="250" align="left"  src="https://spinningnumbers.org/i/logic14.svg">
<img width="300" align="left" src="https://upload.wikimedia.org/wikipedia/commons/6/66/3_gate_XNOR.svg">

In [13]:
f=0
print('Input','\t|\t','Output')
print('| a |','b |',' a⊕b_(cal) \t|',' a⊕b_(anl)\t|',' a⊙b_(cal)\t|',' a⊙b_(anl)\t|')
for a,b in zip(A,B):
    N1=NOT(a)
    N2=NOT(b)
    O1=OR(N1,N2)
    O2=OR(a,b)
    X=AND(O1,O2)
    A1=AND(a,b)
    A2=AND(N1,N2)
    Xn=OR(A1,A2)
    X_a=XOR(a,b)
    Xn_a=XNOR(a,b)
    print('|',a,'|',b,'|\t',X,'\t|\t',X_a,'\t|\t',Xn,'\t|\t',Xn_a,'\t|')
    if (X==X_a)&(Xn==Xn_a): f+=1
        
if f==len(A):
    print('\nLHS==RHS')

Input 	|	 Output
| a | b |  a⊕b_(cal) 	|  a⊕b_(anl)	|  a⊙b_(cal)	|  a⊙b_(anl)	|
| 0 | 0 |	 0 	|	 0 	|	 1 	|	 1 	|
| 0 | 1 |	 1 	|	 1 	|	 0 	|	 0 	|
| 1 | 0 |	 1 	|	 1 	|	 0 	|	 0 	|
| 1 | 1 |	 0 	|	 0 	|	 1 	|	 1 	|

LHS==RHS

In [14]:
def NAND_NOT(a):
    return NAND(a,a)# NAND -> NOT
    
def NAND_AND(a,b):
    return NAND(NAND(a,b),NAND(a,b))# NAND -> AND
    
def NAND_OR(a,b):
    return NAND(NAND(a,a),NAND(b,b))# NAND -> OR

def NAND_NOR(a,b): 
    return NAND(NAND_OR(a,b),NAND_OR(a,b))# NAND -> NOR

def NAND_XOR(a,b):
    return NAND(NAND(a,NAND(a,b)),NAND(b,NAND(a,b)))# NAND -> XOR

def NAND_XNOR(a,b):
    return NAND(NAND_XOR(a,b),NAND_XOR(a,b))# NAND -> XNOR

In [15]:
import pandas as pd

A1,A2,A3,A4,A5,A6,A7=[],[],[],[],[],[],[]
for a,b in zip(A,B):
    A1.append(NAND_NOT(a))
    A2.append(NAND_NOT(b))
    A3.append(NAND_AND(a,b))
    A4.append(NAND_OR(a,b))
    A5.append(NAND_NOR(a,b))
    A6.append(NAND_XOR(a,b))
    A7.append(NAND_XNOR(a,b))
pd.DataFrame({'a':a,'b':b,'𝑎̃':A1,'𝑏̃':A2,'a⋅b':A3,'a+b':A4,'a↓b':A5,'a⊕b':A6,'a⊙b':A7})

   a  b  𝑎̃  𝑏̃  a⋅b  a+b  a↓b  a⊕b  a⊙b
0  1  1   1   1    0    0    1    0    1
1  1  1   1   0    0    1    0    1    0
2  1  1   0   1    0    1    0    1    0
3  1  1   0   0    1    1    0    0    1

In [16]:
def NOR_NOT(a):
    return NOR(a,a)# NOR -> NOT
    
def NOR_AND(a,b):
    return NOR(NOR(a,a),NOR(b,b))# NOR -> AND
    
def NOR_OR(a,b):
    return NOR(NOR(a,b),NOR(a,b))# NOR -> OR

def NOR_NAND(a,b): 
    return NOR(NOR_AND(a,b),NOR_AND(a,b))# NOR -> NAND

def NOR_XNOR(a,b):
    return NOR(NOR(a,NOR(a,b)),NOR(b,NOR(a,b)))# NOR -> XNOR

def NOR_XOR(a,b):
    return NOR(NOR_XNOR(a,b),NOR_XNOR(a,b))# NOR -> XOR

In [17]:
A1,A2,A3,A4,A5,A6,A7=[],[],[],[],[],[],[]
for a,b in zip(A,B):
    A1.append(NOR_NOT(a))
    A2.append(NOR_NOT(b))
    A3.append(NOR_OR(a,b))
    A4.append(NOR_AND(a,b))
    A5.append(NOR_NAND(a,b))
    A6.append(NOR_XOR(a,b))
    A7.append(NOR_XNOR(a,b))
pd.DataFrame({'a':a,'b':b,'𝑎̃':A1,'𝑏̃':A2,'a⋅b':A3,'a+b':A4,'a↑b':A5,'a⊕b':A6,'a⊙b':A7})

   a  b  𝑎̃  𝑏̃  a⋅b  a+b  a↑b  a⊕b  a⊙b
0  1  1   1   1    0    0    1    0    1
1  1  1   1   0    1    0    1    1    0
2  1  1   0   1    1    0    1    1    0
3  1  1   0   0    1    1    0    0    1

# $\text{HALF ADDER}$
<img width="200" height="220" align="center" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Half_Adder.svg/1920px-Half_Adder.svg.png">

In [18]:
def HalfAdder(a,b):
    s=XOR(a,b)
    c=AND(a,b)
    return s,c

In [19]:
print('Input','|','Output')
print(' ','x','y','|','S','C')
for a,b in zip(A,B):
    s,c=HalfAdder(a,b)
    print(' ',a,b,'|',s,c)

Input | Output
  x y | S C
  0 0 | 0 0
  0 1 | 1 0
  1 0 | 1 0
  1 1 | 0 1

# $\text{FULL ADDER}$

In [20]:
def FullAdder(x,y,z):
    s1,c1=HalfAdder(x,y)
    s2,c2=HalfAdder(s1,z)
    return s2,OR(c1,c2)

In [21]:
print('Input','|','Output')
print('x','y','z','|','S','C')
for x,y,z in zip(X1,Y1,Z1):
    sh,ch=FullAdder(x,y,z)
    print(x,y,z,'|',sh,ch)

Input | Output
x y z | S C
0 0 0 | 0 0
0 0 1 | 1 0
0 1 0 | 1 0
0 1 1 | 0 1
1 0 0 | 1 0
1 0 1 | 0 1
1 1 0 | 0 1
1 1 1 | 1 1